<form method="get" class="w-100">
    <div>
        {% include "components/filter_button.html" %}


        <div class="collapse" id="collapseExample">
            <div class=" p-4 border border-2 rounded-2"
                 style="background-color: rgba(255,255,255,0.52); border-color: #d2d2d2">
                                <div id="div_id_name__icontains" class="text-field__group mb-3">
                    <label for="id_name__icontains" class="text-field__label form-label"></label>
                    <input type="text" name="search" class=" text-field__input textinput form-control"
                           value="{{ request.GET.search }}"
                           id="id_name__icontains" placeholder="Поиск по объектам">
                    <button class="text-field__btn" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>

                <div class="row">
                    <div id="div_id_engineers" class="col mb-3">
                        <label for="id_engineers" class="form-label">Объекты</label>
                        {% include 'tree-select.html' with select_name='objects_set' current_options=current_objects objects_structure_json=objects_json %}
                    </div>


                    <div id="div_id_tags" class="col mb-3">
                        <label for="id_tags" class="form-label">Теги</label>
                        {% include 'tree-select.html' with select_name='tags' current_options=current_tags objects_structure_json=tags_json %}
                    </div>

                </div>

                <div class="row">

                    <div id="div_id_engineers" class="col mb-3">
                        <label for="id_engineers" class="form-label">Инженеры</label>
                        {% include 'tree-select.html' with select_name='engineers' current_options=current_engineers objects_structure_json=engineers_json %}
                    </div>

                    <div id="div_id_priority" class="col mb-3">
                        <label for="id_priority" class="form-label">Важность</label>
                        <select name="priority" class="select form-select" id="id_priority">
                            <option value="" {% if not request.GET.priority %}selected{% endif %}>-</option>
                            <option value="CRITICAL" {% if request.GET.priority == 'CRITICAL' %}selected{% endif %}>
                                Критический
                            </option>
                            <option value="HIGH" {% if request.GET.priority == 'HIGH' %}selected{% endif %}>Высокий
                            </option>
                            <option value="MEDIUM" {% if request.GET.priority == 'MEDIUM' %}selected{% endif %}>
                                Средний
                            </option>
                            <option value="LOW" {% if request.GET.priority == 'LOW' %}selected{% endif %}>Низкий
                            </option>
                        </select>
                    </div>

                </div>


                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Применить фильтры</button>
                    <a href="{{ request.path }}" class="btn btn-secondary">Сбросить фильтры</a>
                </div>


            </div>


        </div>
    </div>
</form>


<style>
.text-field__group {
  display: flex;
}
/* кнопка */
.text-field__btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #eee;
  border: 1px solid #bdbdbd;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: background-color .15s ease-in-out;
}
.text-field__btn:hover {
  background-color: #dddddd;
}
.text-field__group .text-field__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 2;
}
.text-field__group .text-field__btn {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

input::placeholder {

  opacity: 1;

}
</style>