{% load static %}

<div class="btn-group" style="align-items: baseline;">
    <a class="btn btn-outline-dark position-relative" type="button" data-bs-toggle="collapse"
       data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-funnel"></i> 
        {% if params_count %}
            <span style="z-index: 99"
                  class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">{{ params_count }}</span>
        {% endif %}
    </a>

    {% if params_count %}
        <a class="btn btn-outline-dark" href="{{ request.path }}">
            <i class="bi bi-x-lg"></i>
        </a>
    {% endif %}
</div>
