{% load static %}

<div class="container">
    <footer class="py-3 mt-5 border-top d-flex justify-content-between align-content-center">

        <div class="" style="text-align: left !important;">Tasker - Team Assignment System to Keep Everything
            Right<br><br>
            <a href="/static/Readme-tasker.pdf" target="_blank">Помощь</a>
            <i class="bi bi-envelope-at"></i> admin@example.com
            <br><br> <span style="color: grey">© 2024-2025 Tasker</span></div>
        <a href="https://github.com/SemyonYankovskiy/Tasks" class="bi bi-github"
           style="font-size: 2rem; text-decoration: none"></a>
    </footer>
</div>