{% load static %}

<div class="headerContainer">
    <div class="headerTop">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                {% if user.is_authenticated %}
                    <div class="col-md-2 d-flex align-items-center">
                        <a href="{% url 'tasks' %}" class="mx-3 mt-2 icon-container">
                            {% if header_icon %}
                                <img src="{% static header_icon %}" alt="Random Icon" class="icon"/>
                            {% else %}
                                <!-- Плейсхолдер для отображения при отсутствии иконки -->
                                <div class="icon-placeholder">No icon available</div>
                            {% endif %}
                        </a>

                    </div>


                    <div class="col-md-10 d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                            <span style="   font-family: monospace;
                            color: #000000;
                            font-size: 2rem; ">

                            Tasker</span>

                        </div>
                        <div class="col-md-10 d-flex justify-content-end">
                            <ul class="nav nav-pills mx-5">

                                <li class="nav-item {% if current_page == '/objects/' or objects_page %}active{% endif %}">
                                    <a href="{% url 'home' %}" class="nav-link p-0 ">
                                        <img width="32" height="32" src="{% static 'self/img/grid.svg' %}"
                                             class="bi d-block mx-auto mb-3" alt="objects"/>
                                        <span class="m-0 p-0 text-black" style="font-size: 1rem">Объекты</span>
                                    </a>

                                </li>

                                <li class="nav-item {% if current_page == '/' %}active{% endif %}">
                                    <a href="{% url 'tasks' %}" class="nav-link p-0 ">
                                        <img width="32" height="32" src="{% static 'self/img/list-task.svg' %}"
                                             class="bi d-block mx-auto mb-3" alt="tasks"/>
                                        <span class="m-0 p-0 text-black" style="font-size: 1rem">Задачи</span>
                                    </a>
                                </li>
                                <li class="nav-item {% if current_page == '/calendar/' %}active{% endif %}">
                                    <a href="{% url 'calendar' %}" class="nav-link p-0 ">
                                        <img width="32" height="32" src="{% static 'self/img/calendar-week.svg' %}"
                                             class="bi d-block mx-auto mb-3" alt="calendar"/>
                                        <span class="m-0 p-0 text-black" style="font-size: 1rem">Календарь</span>
                                    </a>
                                </li>
                                <li class="nav-item {% if current_page == '/stat/' %}active{% endif %}">
                                    <a href="{% url 'stat' %}" class="nav-link p-0">
                                        <img width="32" height="32" src="{% static 'self/img/graph-up.svg' %}"
                                             class="bi d-block mx-auto mb-3" alt="stat"/>
                                        <span class="m-0 p-0 text-black" style="font-size: 1rem">Статистика</span>
                                    </a>
                                </li>
                                {% if user.is_superuser %}
                                    <li class="nav-item {% if current_page == 'admin/' %}active{% endif %}">
                                        <a href="/admin" class="nav-link p-0">
                                            <img width="32" height="32" src="{% static 'self/img/gear.svg' %}"
                                                 class="bi d-block mx-auto mb-3" alt="stat"/>
                                            <span class="m-0 p-0 text-black" style="font-size: 1rem">Админ панель</span>
                                        </a>
                                    </li>
                                {% endif %}



                                <li class="ps-4 pe-4 nav-item" id="notification-nav-item">
                                    <div class="notification-container">
                                        <div id="notification-icon" class="notification-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                 fill="currentColor"
                                                 class="bi bi-bell-fill" viewBox="0 0 16 16">
                                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                            </svg>
                                            {% if notifications %}
                                                <span class="badge">{{ notifications.count }}</span>
                                            {% endif %}
                                        </div>

                                        <div id="notification-dropdown" class="notification-dropdown border border-1"
                                             style="border-color: grey !important; display: none;">
                                            <div class="d-flex justify-content-between border-bottom border-1 pb-2">
                                                <div class="ms-2">
                                                    <i class="bi bi-list-ul" style="font-size: 1.3rem">
                                                        <span style="font-size: 1.2rem; font-style: normal">Уведомления</span>
                                                    </i>
                                                </div>
                                                <div class="me-2">
                                                    {% if notifications %}
                                                        <button id="clear-notifications" class="btn btn-outline-dark">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div id="notification-list">
                                                {% if notifications %}
                                                    {% for notification in notifications %}


                                                        <div class="notification-container notification-item"
                                                             style="display: flex; align-items: center; justify-content: space-between;">
                                                            <a href="#" class="task-link"
                                                               data-task-id="{{ notification.task.id }}"
                                                               style="text-decoration: none; color: #000000; flex-grow: 1;">
        <span>{{ notification.created_at|time:"H:i" }} |
            {% if notification.event_type == "task_assigned" %}
                Вам назначена задача <strong>{{ notification.data.task_header }}</strong>
            {% elif notification.event_type == "task_department_assigned" %}
                Вашему отделу назначена задача
                <strong>{{ notification.data.task_header }}</strong>
            {% elif notification.event_type == "task_completed" %}
                Задача <strong>{{ notification.data.task_header }}</strong> была выполнена.
            {% elif notification.event_type == "task_deleted" %}
                Задача <strong>{{ notification.data.task_header }}</strong> была удалена.
            {% elif notification.event_type == "task_restored" %}
                Задача <strong>{{ notification.data.task_header }}</strong> была возвращена
                в работу.
            {% elif notification.event_type == "task_unassigned" %}
                Вы больше не являетесь исполнителем задачи
                <strong>{{ notification.data.task_header }}</strong>.
            {% elif notification.event_type == "task_commented" %}
                {{ notification.data.author }} добавил комментарий к задаче
                <strong>{{ notification.data.task_header }}</strong>.
            {% else %}
                Новое уведомление
            {% endif %}
        </span>
                                                            </a>
                                                            <button class="btn btn-sm  border-0 mark_one_notifications_as_read delete-notification"
                                                                    data-notification-id="{{ notification.id }}">
                                                                ×️
                                                            </button>
                                                        </div>


                                                    {% endfor %}
                                                {% else %}
                                                    <div class="mt-2 ms-1">Нет новых уведомлений</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="nav-item dropdown" id="dropdownMenu">
                                    <div style="color: inherit; text-decoration: none;" id="user-menu-icon">
                                        <img width="32" height="32" src="{% static 'self/img/person-circle.svg' %}"
                                             class="bi d-block mx-auto mb-3" alt="user" style="cursor: pointer;"/>
                                        <span class="text-black">{{ request.user }}</span>
                                    </div>

                                    <!-- Выпадающее меню пользователя -->
                                    <ul id="user-dropdown"
                                        class="dropdown-menu mt-1 bg-white border border-1 p-2 userdropdown"
                                        style="cursor: context-menu; min-width: 23rem; border-color: grey !important; display: none;">
                                        <li class="p-1">
                                            <div class="d-flex align-items-center gap-2">
                                                <i class="bi bi-person-vcard" style="font-size: 2rem"></i>
                                                {% if request.user.engineer %}
                                                    <span class="fs-5 text">{{ request.user.engineer.first_name }} {{ request.user.engineer.second_name }}</span>
                                                {% else %}
                                                    <span class="fs-5 text">{{ request.user }}</span>
                                                {% endif %}
                                            </div>
                                        </li>
                                        {% if request.user.engineer.position %}
                                            <li><i class="bi bi-dot"></i> {{ request.user.engineer.position }}</li>
                                        {% endif %}
                                        {% if request.user.engineer.department %}
                                            <li><i class="bi bi-dot"></i> Отдел: {{ request.user.engineer.department }}
                                            </li>
                                        {% endif %}
                                        <li>
                                            {% if request.user.engineer.head_of_department %}
                                                <i class="bi bi-dot"></i>
                                                <span class="text-black text-decoration-underline">Руководитель</span>
                                            {% endif %}
                                        </li>
                                        <li class="mt-3 d-flex">
                                            <button class="btn btn-outline-secondary p-2" id="updateCacheButton"><i
                                                    class="bi bi-receipt" style="font-style: normal"> Обновить кэш</i>
                                            </button>
                                            <button class="btn btn-outline-secondary p-2" id="update_date_taskButton"><i
                                                    class="bi bi-clock-history" style="font-style: normal"> Обновить дату задач</i>
                                            </button>
                                        </li>
                                        <li class="mt-3">
                                            <form action="{% url 'user:logout' %}" method="post" id="logout-form">
                                                {% csrf_token %}
                                                <button type="button"
                                                        class="dropdown-item p-2 border border-dark rounded rounded-2 logout-btn"
                                                        id="logout-btn">
                                                    <i class="bi bi-box-arrow-in-right" style="font-size: 1rem"></i>
                                                    Выйти
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </div>

                    </div>
                {% else %}
                    <div class="col-md-1"></div>
                    <div class="col-md-3 d-flex align-items-center">
                        <a href="#" class="btn mx-3">
                            <img class="me-3" src="{% static 'self/img/login.png' %}" alt=""
                                 style="max-height: 150px; max-width: 150px">
                        </a>
                    </div>
                    <div class="col-md-7 d-flex justify-content-end align-items-center">


                        <div class="nav  dropdown me-3">
                            <a class="btn btn-outline-dark my-btn me-3"
                               href="{% url 'user:login' %}">Войти</a>
                        </div>

                    </div>
                    <div class="col-md-1"></div>
                {% endif %}
            </header>
        </div>
    </div>

    <div class="headerBottom">
        <!-- Add any additional content for the bottom part here if needed -->
    </div>
</div>

<style>
    /* Базовый стиль для nav-item */
    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 3px solid transparent; /* Изначально прозрачная граница */
    {#transition: background-color 0.3s ease, color 0.3s ease, border-bottom-color 0.3s ease; /* Плавный переход */#}
    }

    /* Стиль при наведении */
    .nav-item:hover {
        border-bottom-color: #000213; /* Меняем только цвет границы при наведении */
        cursor: pointer; /* Изменение курсора на указатель (рука) */


    }

    .nav-item.active {
        border-bottom-color: #000213; /* Цвет границы для активного элемента */
    }

    .icon-container {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        max-width: 100%;
        max-height: 100%;
    }

    .icon-placeholder {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0; /* Светло-серый фон для плейсхолдера */
        color: #888; /* Цвет текста для плейсхолдера */
        font-size: 14px;
        text-align: center;
    }
</style>

<script>
    // Остановка всплытия события клика на кнопке «Выйти»
    document.getElementById('logout-btn').addEventListener('click', function (event) {
        event.stopPropagation();
        document.getElementById('logout-form').submit();
    });
    document.addEventListener('DOMContentLoaded', function () {
        const notificationIcon = document.getElementById('notification-nav-item');
        const notificationDropdown = document.getElementById('notification-dropdown');
        const userMenuIcon = document.getElementById('user-menu-icon');
        const userDropdown = document.getElementById('user-dropdown');
        const clearNotificationsBtn = document.getElementById("clear-notifications");
        const notificationList = document.getElementById("notification-list");


        // Функция для закрытия всех открытых меню
        function closeAllDropdowns() {
            notificationDropdown.style.display = 'none';
            userDropdown.style.display = 'none';
        }

        // Обработчик для меню уведомлений
        notificationIcon.addEventListener('click', function (event) {
            event.stopPropagation();
            if (notificationDropdown.style.display === 'block') {
                notificationDropdown.style.display = 'none';
            } else {
                closeAllDropdowns();
                notificationDropdown.style.display = 'block';
            }
        });

        // Обработчик для меню пользователя
        userMenuIcon.addEventListener('click', function (event) {
            event.stopPropagation();
            if (userDropdown.style.display === 'block') {
                userDropdown.style.display = 'none';
            } else {
                closeAllDropdowns();
                userDropdown.style.display = 'block';
            }
        });

        // Закрытие меню при клике вне их области
        document.addEventListener('click', function () {
            closeAllDropdowns();
        });

        // Очистка уведомлений (AJAX-запрос)
        if (clearNotificationsBtn) {
            clearNotificationsBtn.addEventListener("click", function () {
                fetch("{% url 'mark_notifications_as_read' %}")
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === "ok") {
                            notificationDropdown.innerHTML = "<p style='text-align: center;'>Нет новых уведомлений</p>";
                            notificationIcon.querySelector(".badge").remove(); // Убираем значок с числом уведомлений
                        }
                    });
            });
        }


        if (notificationList) {
            notificationList.addEventListener("click", function (event) {
                console.log("CYKA-COBAKA")
                if (event.target.classList.contains("delete-notification")) {
                    const notificationId = event.target.getAttribute("data-notification-id");
                    console.log("CYKA-PES")
                    fetch(`/notifications/read/${notificationId}/`, {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCSRFToken(),
                            "Content-Type": "application/json"
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === "ok") {
                                event.target.closest(".notification-item").remove();

                                // Обновляем счетчик уведомлений
                                const badge = document.querySelector(".notification-icon .badge");
                                if (badge) {
                                    let count = parseInt(badge.textContent, 10) - 1;
                                    if (count <= 0) {
                                        badge.remove();
                                    } else {
                                        badge.textContent = count;
                                    }
                                }
                                // Если удалили все уведомления, показать сообщение
                                if (notificationList.children.length === 0) {
                                    notificationList.innerHTML = "<div class='mt-2 ms-1'>Нет новых уведомлений</div>";
                                }
                            }
                        })
                        .catch(error => console.error("Ошибка удаления уведомления:", error));
                }
            });
        }
        document.getElementById("updateCacheButton").addEventListener("click", function () {
            fetch("{% url 'update_cache' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                }
            })
                .then(() => location.reload()) // Перезагрузка страницы после сброса кэша
                .catch(error => console.error("Ошибка:", error));
        });

        document.getElementById("update_date_taskButton").addEventListener("click", function () {
            fetch("{% url 'update_date_task' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                }
            })
                .then(() => location.reload()) // Перезагрузка страницы после сброса кэша
                .catch(error => console.error("Ошибка:", error));
        });


        // Функция для получения CSRF-токена
        function getCSRFToken() {
            return document.cookie.split('; ').find(row => row.startsWith("csrftoken="))?.split('=')[1];
        }
    });
</script>
<style>
    /* Стили для выпадающего меню */
    .notification-container {
        position: relative;
        display: inline-block;
        border: #f31212 1px;
    }

    .notification-icon {
        cursor: pointer;
        font-size: 18px;
        position: relative;
    }

    .notification-icon .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        background: red;
        color: white;
        border-radius: 50%;
        padding: 5px 8px;
        font-size: 12px;
    }

    .userdropdown {
        display: none;
        position: absolute;
        top: 80px;
        right: -50px;
        background-color: #ffffff;
        width: 400px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        z-index: 1001;
    }

    .notification-dropdown {
        display: none;
        position: absolute;
        top: 80px;
        right: -50px;
        background-color: #ffffff;
        width: 400px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        z-index: 1000;
    }

    .notification-dropdown.active {
        display: block;
    }

    .notification-item {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    .notification-item:hover {
        background-color: #f6f6f6;
    }

    .notification-item:last-child {
        border-bottom: none;
    }

    .logout-btn {
        background-color: initial; /* Исходный цвет фона */
        color: initial; /* Исходный цвет текста */
        transition: background-color 0.1s ease, color 0.1s ease; /* Анимация для фона и текста */
    {#transition-delay: 0.1s; /* Задержка перед началом анимации */#}
    }

    .logout-btn:hover {
        background-color: #212529; /* Цвет фона при наведении */
        color: #f8f9fa; /* Цвет текста при наведении */
    }

    .notification-item:hover .mark_one_notifications_as_read {
        visibility: visible; /* Изменение видимости элемента при наведении */
    }

    .mark_one_notifications_as_read {
        font-size: 1.1rem;
        color: #c6c6c6;
        visibility: hidden;
    }

    .mark_one_notifications_as_read:hover {
        color: #000000;
    }
</style>
