{% load static %}
<div class="headerContainer">
    <div class="headerTop">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                {% if user.is_authenticated %}
                    <div class="col-md-2 d-flex align-items-center">
                        <a href="{% url 'home' %}" class=" mx-3 mt-2">
                            {% if random_icon %}
                                <img src="{% static random_icon %}" alt="Random Icon" class="icon"
                                     style="max-height: 150px; max-width: 150px"/>
                            {% else %}
                                <p>No icon available.</p>
                            {% endif %}
                        </a>
                    </div>

                    <div class="col-md-10 d-flex justify-content-end">
                        <ul class="nav nav-pills mx-5">
                            <li class="nav-item {% if current_page == '/' or is_objects_page %}active{% endif %}">
                                <a href="{% url 'home' %}" class="nav-link p-0 ">
                                    <img width="32" height="32" src="{% static 'img/grid.svg' %}"
                                         class="bi d-block mx-auto mb-3" alt="objects"/>
                                    <span class="m-0 p-0 text-black" style="font-size: 1rem">Объекты</span>
                                </a>

                            </li>
                      
                            <li class="nav-item {% if current_page == '/tasks/' %}active{% endif %}">
                                <a href="{% url 'tasks' %}" class="nav-link p-0 ">
                                    <img width="32" height="32" src="{% static 'img/list-task.svg' %}"
                                         class="bi d-block mx-auto mb-3" alt="tasks"/>
                                    <span class="m-0 p-0 text-black" style="font-size: 1rem">Задачи</span>
                                </a>
                            </li>
                            <li class="nav-item {% if current_page == '/calendar/' %}active{% endif %}">
                                <a href="{% url 'calendar' %}" class="nav-link p-0 ">
                                    <img width="32" height="32" src="{% static 'img/calendar-week.svg' %}"
                                         class="bi d-block mx-auto mb-3" alt="calendar"/>
                                    <span class="m-0 p-0 text-black" style="font-size: 1rem">Календарь</span>
                                </a>
                            </li>
                            <li class="nav-item {% if current_page == '/map/' %}active{% endif %}">
                                <a href="{% url 'map' %}" class="nav-link p-0 disabled">
                                    <img width="32" height="32" src="{% static 'img/map.svg' %}"
                                         class="bi d-block mx-auto mb-3" alt="map" style="opacity: 50%"/>
                                    <span class="m-0 p-0 text-black-50" style="font-size: 1rem">Карта</span>
                                </a>
                            </li>
                            <li class="nav-item {% if current_page == '/stat/' %}active{% endif %}">
                                <a href="#" class="nav-link p-0 disabled">
                                    <img width="32" height="32" src="{% static 'img/graph-up.svg' %}"
                                         class="bi d-block mx-auto mb-3" alt="stat" style="opacity: 50%"/>
                                    <span class="m-0 p-0 text-black-50" style="font-size: 1rem">Статистика</span>
                                </a>
                            </li>
                            {% if user.is_superuser %}
                                <li class="nav-item {% if current_page == 'admin/' %}active{% endif %}">
                                    <a href="/admin" class="nav-link p-0">
                                        <img width="32" height="32" src="{% static 'img/gear.svg' %}"
                                             class="bi d-block mx-auto mb-3" alt="stat"/>
                                        <span class="m-0 p-0 text-black" style="font-size: 1rem">Админ панель</span>
                                    </a>
                                </li>
                            {% endif %}


                            <li class="nav-item  me-5 ">

                                <a class="dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                   style="color: inherit; text-decoration: none;">
                                    <img width="32" height="32" src="{% static 'img/person-circle.svg' %}"
                                         class="bi d-block mx-auto mb-3" alt="user" style="cursor: pointer;"/>


                                    {% if request.user.engineer %}
                                        <span class="text-black">

                                        {{ request.user.engineer.first_name }}
                                        {{ request.user.engineer.second_name }}
                                        </span>
                                    {% else %}
                                        <span class="text-black"> {{ request.user }} </span>
                                    {% endif %}

                                </a>


                                <ul class="dropdown-menu dropdown-menu-end text-bg-light  mt-2">
                                    <li>
                                        <form action="{% url 'user:logout' %}" method="post">
                                            {% csrf_token %}
                                            <button class="dropdown-item text-bg-light ">Выйти</button>
                                        </form>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="col-md-1"></div>
                    <div class="col-md-3 d-flex align-items-center">
                        <a href="#" class="btn mx-3">
                            <img class="me-3" src="{% static 'img/login.png' %}" alt=""
                                 style="max-height: 150px; max-width: 150px">
                        </a>
                    </div>
                    <div class="col-md-7 d-flex justify-content-end align-items-center">


                        <div class="nav nav-item dropdown me-3">
                            <a class="btn btn-outline-dark my-btn me-3"
                               href="{% url 'user:login' %}">Войти</a>
                        </div>

                    </div>
                    <div class="col-md-1"></div>
                {% endif %}
            </header>
        </div>
    </div>

    <div class="headerBottom">
        <!-- Add any additional content for the bottom part here if needed -->
    </div>
</div>

<style>
    /* Базовый стиль для nav-item */
    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 3px solid transparent; /* Изначально прозрачная граница */
    {#transition: background-color 0.3s ease, color 0.3s ease, border-bottom-color 0.3s ease; /* Плавный переход */#}
    }

    /* Стиль при наведении */
    .nav-item:hover {
        border-bottom-color: #000213; /* Меняем только цвет границы при наведении */
        cursor: pointer; /* Изменение курсора на указатель (рука) */


    }

    .nav-item.active {
        border-bottom-color: #000213; /* Цвет границы для активного элемента */
    }
</style>