<div id="nanogallery2_{{ type }}_{{ id }}"  data-nanogallery2='{
        "thumbnailWidth": "auto",
        "thumbnailHeight": "200",
        "thumbnailLabel": {
          "position": "overImageOnBottom"
        },
        "galleryDisplayMode": "rows",
        "galleryMaxRows": 1,
        "thumbnailAlignment": "center",
        "thumbnailOpenImage": true
      }'>
    {% for file in files %}
        {% if file.is_image %}
        <a href="{{ file.file.url }}"></a>
        {% endif %}
    {% endfor %}
</div>
