<div id="my_nanogallery2"  data-nanogallery2='{
        "thumbnailWidth": "auto",
        "thumbnailHeight": "200",
        "thumbnailLabel": {
          "position": "overImageOnBottom"
        },
        "galleryDisplayMode": "rows",
        "galleryMaxRows": 1,
        "thumbnailAlignment": "center",
        "thumbnailOpenImage": true
      }'>
    <a href="https://loremflickr.com/640/480/abstract" data-ngthumb="https://loremflickr.com/640/480/abstract"></a>
    <a href="https://loremflickr.com/240/480/moscow" data-ngthumb="https://loremflickr.com/640/480/moscow"></a>
    <a href="https://loremflickr.com/240/480/russia" data-ngthumb="https://loremflickr.com/640/480/russia"></a>
    <a href="https://loremflickr.com/640/480/car" data-ngthumb="https://loremflickr.com/640/480/car"></a>

    <a href="https://loremflickr.com/240/480/tree" data-ngthumb="https://loremflickr.com/640/480/tree"></a>
    <a href="https://loremflickr.com/1280/720/castle" data-ngthumb="https://loremflickr.com/640/480/castle"></a>
    <a href="https://loremflickr.com/1920/1080/art" data-ngthumb="https://loremflickr.com/640/480/art"></a>







</div>
