{#  <div class="col p-2">#}
{#    <div class="card h-100" >#}
{#      <img src="https://picsum.photos/800/600" class="card-img-top" alt="...">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">Заголовок карточки</h5>#}
{#        <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}


  <a href="/" class="card m-2" style="text-decoration: none; color: inherit;">
  <img src="https://picsum.photos/800/600" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</a>