{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container p-4">
        <div id="tasks" class="row shadow p-4 mt-5 bg-body-tertiary rounded border-top border-3">
            <div class="pb-3 d-flex justify-content-between">
                <h4>Задачи</h4>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="form-check form-switch">
                    <!-- Переключатель "Показывать только мои задачи" -->
                    <input class="form-check-input form-check-lg" type="checkbox" role="switch"
                           id="flexSwitchCheckDefault"
                           onchange="window.location.href = '?show_my_tasks_only=' + this.checked + '&sort_order={{ sort_order }}';"
                           {% if show_my_tasks_only %}checked{% endif %}>
                    <label class="form-check-label" for="flexSwitchCheckDefault"
                           style="font-size: 18px; margin-right: 10px;">
                          Показывать только мои задачи
                    </label>
                </div>

                <div class="form-check form-switch">
                    <!-- Переключатель порядка сортировки задач -->
                    <input class="form-check-input form-check-lg" type="checkbox" role="switch" id="sortSwitch"
                           onchange="window.location.href = '?sort_order=' + (this.checked ? 'asc' : 'desc') + '&show_my_tasks_only={{ show_my_tasks_only }}';"
                           {% if sort_order == 'asc' %}checked{% endif %}>
                    <label class="form-check-label" for="sortSwitch" style="font-size: 18px;">
                          {% if sort_order == 'asc' %}Старые вначале{% else %}Новые вначале{% endif %}
                    </label>
                </div>
            </div>
            {% if tasks %}
                {% include "components/task_container.html" with tasks=tasks not_done_count=not_done_count done_count=done_count %}
            {% else %}
                <p>Задач для отображения нет.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
