
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item bg-light border rounded shadow-sm mx-3 my-3">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ task.id }}" aria-expanded="false" aria-controls="collapse{{ task.id }}">

        <div class="container-fluid">
          <div class="row w-100">
            <!-- Первый столбец -->
            <div class="col d-flex align-items-center">
              <strong>{{ task.completion_time }}</strong>
            </div>

            <!-- Второй столбец -->
            <div class="col d-flex justify-content-center align-items-center">
              <strong>{{ task.header }}</strong>
            </div>

            <!-- Третий столбец -->
            <div class="col d-flex justify-content-end align-items-center">
              {% for engineer in task.engineers.all %}
                <span class="badge bg-secondary">{{ engineer.first_name }} {{ engineer.second_name }}</span>
              {% endfor %}
            </div>
          </div>
        </div>

      </button>
    </h2>
    <div id="collapse{{ task.id }}" class="accordion-collapse collapse">
      <div class="accordion-body bg-white">
        <div class="container text-center">
          <div class="d-flex row">
            <div class="col border-end">
              {% include "components/obj-gallery.html" with files=task.files.all %}
            </div>
            <div class="col">
              {% include "components/attached_files.html" with files=task.files.all %}
            </div>
          </div>
          <div class="row mt-3 border border-dark-subtle">
            <p class="d-flex justify-content-left">{{ task.text }}</p>
          </div>
          <div class="row mt-3 text-muted">
            <div class="col">
              {% for tag in task.tags.all %}
                <span class="badge bg-info text-dark">{{ tag.tag_name }}</span>
              {% endfor %}
            </div>
            <div class="col text-center">
              <span class="badge bg-success">{{ task.is_done }}</span>
            </div>
            <div class="col text-end">
              <span class="badge bg-warning text-dark">{{ task.priority }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
