<div class="container">

    <div class="col d-flex align-items-center">
        <div class="col d-flex justify-content-center ">
            <button type="button " class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                Создать задачу
            </button>
        </div>
    </div>


    <!-- Модальное окно -->
    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Создать новую задачу</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
{#                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>#}
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab"
                   aria-controls="tab1" aria-selected="true">
                    Активные ({{ not_done_count }})
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                   aria-selected="false">
                    Завершенные ({{ done_count }})
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content mt-4" id="myTabContent">
        <!-- Вкладка активных задач -->
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            {% for tasks in tasks %}
                {% if tasks.is_done == False %}
                    {% include "components/task.html" with task=tasks %}
                {% endif %}
            {% endfor %}
        </div>

        <!-- Вкладка завершенных задач -->
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            {% for tasks in tasks %}
                {% if tasks.is_done == True %}
                    {% include "components/task.html" with task=tasks %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
