/*Стили для прикрепленных файлов*/
.files-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /*gap: 10px;*/
}

.file-item {
    background-color: transparent;
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden; /* Prevent overflow */
}

.file-content {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden; /* Prevent overflow */
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 0; /* Remove default padding */
    border: none; /* Remove default border */
    background: transparent; /* Remove default background */
}

.icon-button i {
    font-size: 2rem;
    cursor: pointer; /* Indicate that it's clickable */
}

.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1; /* Allow text to take available space */
}