/* Изменить цвет фона для сегодняшнего дня */
.fc-day-today {
    background-color: #def4ff !important; /* Устанавливает цвет фона */
    border: 2px dashed #0096ff !important; /* Устанавливает цвет рамки */
}

.fc-daygrid-event-dot {
    background-color: #ffffff !important; /* Устанавливает цвет фона */
    border: 0 !important; /* Устанавливает цвет рамки */
}

/*.fc-daygrid-day-number {*/


/*}*/
.fc-daygrid-day-top {
    justify-content: left;
    padding-left: 5px;

}

/* Устанавливаем отступ между временем и заголовком события */
.fc-event-time {
    margin-right: 10px; /* Измените значение на желаемое */
    padding-right: 5px;
    border-right: 1px solid white;
}

.fc-event-title {
    margin-left: 5px; /* Измените значение на желаемое */
}

.taskDone div {
    background-color: #00CC00;
    /*border-radius: 5px;*/
    color: #ffffff;
    text-align: left;
    font-weight: 700;

}

.taskCalendar {
    border: 0 solid #505050 !important;
    border-radius: 10px;
}

.taskCalendar:hover {
    box-shadow: 2px 1px 1px #959595;
    cursor: pointer;
}

.taskCrit div {
    /*background-color: #FF0000;*/
    color: #ffffff;
    text-align: left;
    font-weight: 700;
}

.taskDanger div {
    /*background-color: #FF6347;*/
    /*border-radius: 5px;*/
    color: #fcfcfc;
    text-align: left;
    font-weight: 700;

}

.taskWarning div {
    /*background-color: #FFD700;*/
    /*border-radius: 5px;*/
    color: #383838;
    text-align: left;
    font-weight: 700;

}

.taskInfo div {
    /*background-color: #1E90FF;*/
    /*border-radius: 5px;*/
    color: #ffffff;
    text-align: left;
    font-weight: 700;

}