/*Стили для карточек object_preview*/
.card {
    width: 300px; /* Ширина карточки */
    height: 400px; /* Высота карточки */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Обрезать содержимое, выходящее за пределы карточки */
    margin: 1rem; /* Отступ между карточками */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); /* Добавление тени при наведении */
}

.card-img-top {
    width: 100%; /* Ширина изображения соответствует ширине карточки */
    height: 200px; /* Высота изображения (или измените в зависимости от вашего дизайна) */
    object-fit: cover; /* Масштабировать изображение, сохраняя пропорции и обрезая его */
}

.card-body {
    flex: 1; /* Позволяет содержимому карточки занимать оставшееся пространство */

}

.card:hover {
    transform: scale(1.02); /* Увеличение карточки при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Добавление тени при наведении */
}