/*Стили для спойлеров*/
.spoiler-text {
    display: block;
    max-height: 100px; /* Установите подходящую высоту для ограничения отображаемого текста */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease; /* Плавный переход для изменения высоты */
}

.spoiler-text.spoiler {
    max-height: none;
}