DJANGO_SECRET_KEY=django-insecure-9909dguuge9g8rtugtrgrtg
DJANGO_DEBUG=1
DJANGO_DATABASE_ENGINE=postgresql
DJANGO_DATABASE_HOST=database

POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_DB=tasks

DJANGO_REDIS_CACHE_URL=redis://redis:6379/0

