<form method="get" class="w-100 mx-4 mb-4">
    <div class="">
        {% include "components/filter_button.html" %}


        <div class="collapse" id="collapseExample">
            <div class="p-5 border border-2 rounded-2"
                 style="background-color: rgba(255,255,255,0.52); border-color: #d2d2d2">
                <div id="div_id_name__icontains" class="mb-3">
                    <label for="id_name__icontains" class="form-label">Поиск объекта</label>
                    <input type="text" name="search" class="textinput form-control" value="{{ request.GET.search }}"
                           id="id_name__icontains">
                </div>
                <div class="row">

                    <div id="div_id_tags" class="col mb-3">
                        <label for="id_tags" class="form-label">Теги</label>
                        {% include 'tree-select.html' with select_name='tags' current_options=current_tags objects_structure_json=tags_json %}
                    </div>


                    <div id="div_id_groups" class="col mb-3">
                        <label for="id_groups" class="form-label">Группы</label>
                        {% include 'tree-select.html' with select_name='groups' current_options=current_groups objects_structure_json=groups_json %}
                    </div>


                    <div id="div_id_priority" class="col mb-3">
                        <label for="id_priority" class="form-label">Важность</label>
                        <select name="priority" class="select form-select" id="id_priority">
                            <option value="" {% if not request.GET.priority %}selected{% endif %}>-</option>
                            <option value="CRITICAL" {% if request.GET.priority == 'CRITICAL' %}selected{% endif %}>
                                Критический
                            </option>
                            <option value="HIGH" {% if request.GET.priority == 'HIGH' %}selected{% endif %}>Высокий
                            </option>
                            <option value="MEDIUM" {% if request.GET.priority == 'MEDIUM' %}selected{% endif %}>
                                Средний
                            </option>
                            <option value="LOW" {% if request.GET.priority == 'LOW' %}selected{% endif %}>Низкий
                            </option>
                        </select>
                    </div>

                </div>


                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Применить фильтры</button>
                    <a href="{{ request.path }}" class="btn btn-secondary">Сбросить фильтры</a>
                </div>


            </div>


        </div>
    </div>
</form>