{% extends "base.html" %}
{% load static %}
{% block title %}Объекты{% endblock title %}

{% block content %}


    <!-- Список объектов -->
    <div class="container d-flex p-3 justify-content-center flex-wrap">

        {% include "components/home/home_filter.html" %}

        {% if objects_qs %}

            {% for object in objects_qs %}

                {% include "components/object/object-preview.html" with tasks_count=object.tasks_count img_preview=object.img_preview title=object.name desc=object.short_description priority=object.priority groups=object.groups child_count=object.child_count slug=object.slug tags=object.tags %}

            {% endfor %}
        {% else %}
            <img class="me-3" src="{% static 'self/img/kitty-transparent.gif' %}" alt=""
                 style="max-height: 150px; max-width: 150px" data-bs-toggle="tooltip"
                 data-bs-title="Нет объектов для отображения">
            
        {% endif %}
    </div>


    {% include "components/home/../pagination.html" with pagination_data=pagination_data filter_data=filter_data %}



{% endblock %}

