<form method="get" class="w-100 mx-4">
    <div class="">
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Фильтры
        </button>


        <div class="collapse" id="collapseExample">
            <div class="p-5 border border-2 rounded-2" style="background-color: rgba(255,255,255,0.52); border-color: #d2d2d2">
                <div id="div_id_name__icontains" class="mb-3">
                    <label for="id_name__icontains" class="form-label">Имя объекта</label>
                    <input type="text" name="name" class="textinput form-control" value="{{ request.GET.name }}"
                           id="id_name__icontains">
                </div>
                <div class="row">

                    <div id="div_id_tags" class="col mb-3">
                        <label for="id_tags" class="form-label">Теги</label>
                        {% include 'tree-select.html' with select_name='tags' current_options=current_tags objects_structure_json=tags_json %}
                    </div>


                    <div id="div_id_groups" class="col mb-3">
                        <label for="id_groups" class="form-label">Группы</label>
                        {% include 'tree-select.html' with select_name='groups' current_options=current_groups objects_structure_json=groups_json %}
                    </div>


                    <div id="div_id_priority" class="col mb-3">
                        <label for="id_priority" class="form-label">Важность</label>

                        <select name="priority" class="select form-select" id="id_priority">
                            <option value="" selected=""> </option>
                            <option value="CRITICAL">Критический</option>
                            <option value="HIGH">Высокий</option>
                            <option value="MEDIUM">Средний</option>
                            <option value="LOW">Низкий</option>
                        </select>
                    </div>

                </div>


                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Применить фильтры</button>
                    <a href="/" class="btn btn-secondary">Сбросить фильтры</a>
                </div>


            </div>


        </div>
    </div>
</form>