{% extends "base.html" %}
{% load static %}

{% block title %}Авторизация на сайте{% endblock title %}

{% block content %}
<div class="container p-5" style="width: 30%">
    <h2 class="text-center mb-4">Добро пожаловать!</h2>
    <p class="text-center mb-4">Пожалуйста, введите свои данные для входа в систему.</p>
    <form method="post" class="bg-light p-4 rounded shadow-sm">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="mb-3">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small id="{{ field.id_for_label }}Help" class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-primary w-100">Войти</button>
    </form>
</div>
{% endblock %}