{% load static %}
<!-- fileuploader -->
<link href="{% static 'fileuploader/font/font-fileuploader.css' %}" media="all" rel="stylesheet">
<link href="{% static 'fileuploader/jquery.fileuploader.min.css' %}" media="all" rel="stylesheet">
<script src="{% static 'fileuploader/jquery.fileuploader.min.js' %}" type="text/javascript"></script>
<!-- ckeditor -->
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<form class="text-start bg-light" method="POST" action="{% url "edit_object" object.slug %}"
      enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Поле для передачи URL с фильтрами -->
    <input type="hidden" name="from_url" value="{{ from_url }}">

    <div class="modal-body p-4">

        <div class="d-flex gap-2">
            <!-- Заголовок задачи -->
            <div class="mb-3 w-100">
                <label for="objHeader_edit_{{ object.id }}" class="form-label">
                    <i class="bi bi-card-heading" style="font-size: 1.2rem;"></i>
                    <span>Заголовок</span></label>
                <input type="text" class="form-control" id="objHeader_edit_{{ object.id }}" name="name"
                       value="{{ object.name }}" required>
            </div>


        </div>

        <div class="d-flex gap-2">

            <!-- Приоритет задачи -->
            <div class="mb-3 col-2">
                <label for="objPriority_edit_{{ object.id }}" class="form-label">
                    <i class="bi bi-fire" style="font-size: 1.2rem;"></i>
                    <span>Приоритет<span style="color: red;"> *</span></span>
                </label>
                <select name="priority" class="select form-select" id="objPriority_edit_{{ object.id }}">
                    <option value="" {% if not object.priority %}selected{% endif %}>-</option>
                    <option value="CRITICAL" {% if object.priority == 'CRITICAL' %}selected{% endif %}>
                        Критический
                    </option>
                    <option value="HIGH" {% if object.priority == 'HIGH' %}selected{% endif %}>Высокий</option>
                    <option value="MEDIUM" {% if object.priority == 'MEDIUM' %}selected{% endif %}>Средний
                    </option>
                    <option value="LOW" {% if object.priority == 'LOW' %}selected{% endif %}>Низкий</option>
                </select>
            </div>
            <!-- Выбор Группы  -->
            <div class="mb-3 col-5">
                <label for="objGroup_edit_{{ object.id }}" class="form-label">
                    <i class="bi bi-box" style="font-size: 1.2rem;"></i>
                    <span>Группы</span>
                </label>
                {% include 'tree-select.html' with select_name='groups' current_options=edit_current_groups objects_structure_json=edit_groups_json %}
            </div>
            <!-- Выбор тегов  -->
            <div class="mb-3 col-5">
                <label for="objTags_edit_{{ object.id }}" class="form-label">
                    <i class="bi bi-tags-fill" style="font-size: 1.2rem;"></i>
                    <span>Теги</span>
                </label>
                {% include 'tags-select.html' with select_name='obj_tags_edit' current_options=edit_current_tags  objects_structure_json=edit_tags_json %}
            </div>

        </div>

        <!-- Ссылки -->
        <div class="row ps-2">
            <label for="objLink_Zabbix_edit_{{ object.id }}" class="form-label">
                <i class="bi bi-link-45deg" style="font-size: 1.2rem;"></i>
                <span>Ссылки</span>
            </label>


            <div class="col d-flex align-items-center">
                <img width="16" height="16" src="{% static 'self/img/zab.png' %}" alt="zabbix" class="me-2"/>
                <input type="text" class="form-control" id="objLink_Zabbix_edit_{{ object.id }}" name="zabbix_link"
                       value="{{ object.zabbix_link }}" required>
            </div>

            <div class="col d-flex align-items-center">
                <img width="16" height="16" src="{% static 'self/img/ecstasy.png' %}" alt="ecstasy" class="me-2"/>
                <input type="text" class="form-control" id="objLink_ecstasy_edit_{{ object.id }}" name="ecstasy_link"
                       value="{{ object.ecstasy_link }}" required>
            </div>
        </div>

        <div class="row mt-1 ps-2 mb-2">
            <div class="col d-flex align-items-center">
                <img width="16" height="16" src="{% static 'self/img/note.svg' %}" alt="notes" class="me-2"/>
                <input type="text" class="form-control" id="objLink_notes_edit_{{ object.id }}" name="notes_link"
                       value="{{ object.notes_link }}" required>
            </div>

            <div class="col d-flex align-items-center">
                <i class="bi bi-link-45deg m-0 p-0" style="font-size: 1rem"></i>
                <input type="text" class="form-control ms-2" id="objLink_another_edit_{{ object.id }}"
                       name="another_link"
                       value="{{ object.another_link }}" required>
            </div>
        </div>


        <!-- Текст задачи -->
        <div class="mb-3">
            <label for="objText_edit_{{ object.id }}" class="form-label">
                <i class="bi bi-card-text" style="font-size: 1.2rem;"></i>
                <span>Описание</span>
            </label>
            <div>
                {{ ckeditor__obj_form.description }}
            </div>
        </div>

        <!-- Загрузка файлов (псевдокод для примера) -->
        <div id="obj_files" class="mb-3">
            <input class="form-control" type="file" id="objFilesEdit" name="files" multiple>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>


<style>
    .fileuploader-input-button {
        background-color: var(--bs-blue) !important;
        border-radius: 10px !important;
        background-image: none !important;

        display: none !important;
    }


    .fileuploader-input-caption {
        border-radius: 10px !important;
        margin-right: 0 !important;
    }

    .fileuploader {
        padding: 0; /* Опционально: внутренние отступы */
    }

    .fileuploader-input {
        background-color: #fafafa; /* Цвет фона для области выбора файлов */

    }
</style>

<script>
    $(document).ready(function () {
        $('#objFilesEdit').fileuploader({
            addMore: true,
            limit: 10,
            {% if object.files.all %}
                files: [
                    {% for f in object.files.all %}
                        {
                            name: '{{ f.clear_file_name }}', // file name
                            size: {{f.file.size}}, // file size in bytes
                            type: 'image/png', // file MIME type
                            file: '{{ f.file.url }}', // file path
                            local: '{{ f.file.url }}', // file path in listInput (optional)
                            data: {
                                thumbnail: '{{ f.file.url }}', // item custom thumbnail; if false will disable the thumbnail (optional)
                                readerCrossOrigin: 'anonymous', // fix image cross-origin issue (optional)
                                readerForce: true, // prevent the browser cache of the image (optional)
                                readerSkip: true, // skip file from reading by rendering a thumbnail (optional)
                                popup: true, // remove the popup for this file (optional)
                                listProps: {}, // custom key: value attributes in the fileuploader's list (optional)
                                your_own_attribute: 'your own value'
                            }
                        },
                    {% endfor %}
                ],
            {% endif %}
        });
        // Замена текста
        $('.fileuploader-input-caption span').text('Добавить файлы');
        $('.fileuploader-input-button span').text('Выберите файл');

        // Удаление всего текста внутри div с id="files"
        $('#obj_files').contents().filter(function () {
            return this.nodeType === 3; // Текстовый узел
        }).remove();
    });

</script>
