<!-- Модальное окно редактирования задачи -->
<div class="modal fade" id="edit_object_{{ object_id }}" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="editObjLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editObjLabel">Редактировать объект</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>

            {# Здесь будет загружена форма редактирования #}
            <div id="task-edit-form"></div>

        </div>
    </div>
</div>




