{% load static %}
<div class="container text-center  mt-2 shadow rounded border-top border-3">
    {# ============== NAV BUTTON & EDIT ============== #}
    <div class="row mb-2 d-flex p-3">
        <div class="col d-flex justify-content-left ">
            {% if object.parent_slug %}

                <a href="{% url 'show-object' object.parent_slug %}" class="btn btn-outline-primary X">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                    </svg>
                    {{ object.parent_name }}
                </a>
            {% else %}
                <a href="{% url 'home' %}" class="btn btn-outline-primary ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                    </svg>
                    <span class="mx-2">На главную</span>


                </a>
            {% endif %}
        </div>
        <div class="col  d-flex justify-content-end align-items-center">
            {% include "components/object/edit_obj_button.html" with object_slug=object.slug %}
        </div>
    </div>


    <div class="row px-3 pb-3 mb-2  d-flex justify-content-center   ">
        {# ============== HEADER ============== #}
        <div class="fs-5 text">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                    {% if object.priority == 'LOW' %} fill="#1E90FF"
                    {% elif object.priority == 'MEDIUM' %}  fill="#FFD700"
                    {% elif object.priority == 'HIGH' %}  fill="#FF6347"
                    {% elif object.priority == 'CRITICAL' %}  fill="#FF0000"
                    {% endif %}
                 class="bi bi-bookmarks-fill" viewBox="0 1 18 16">
                <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
            </svg>
            {{ object.name }}
        </div>

        {# ============== Groups & TAGS & LINKS ============== #}
        <div class="row my-3">
            <div class="col d-flex flex-wrap gap-2 align-items-center">
                <div class="me-3">
                    {% for group in object.groups.all %}
                        <span class="badge bg-primary text-white" style="padding: 6px">
                {{ group }}
            </span>
                    {% endfor %}
                </div>
                <div>
                    {% if object.tags.all %}
                        {% for tag in object.tags.all %}
                            <span class="badge bg-primary-subtle text-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-tag" viewBox="0 0 16 16">
                      <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"></path>
                      <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"></path>
                    </svg>
                    {{ tag }}
                </span>
                        {% endfor %}
                    {% endif %}

                </div>


            </div>

            <div class="col d-flex justify-content-end align-items-center gap-3 ">
                {% if object.zabbix_link %}
                    <a href="{{ object.zabbix_link }}" target="_blank" class="link-button"
                       style="text-decoration: none;  color: #666;">
                        <img width="24" height="24" src="{% static 'self/img/zab.png' %}" alt="zabbix"/> </a>
                {% endif %}
                {% if object.ecstasy_link %}
                    <a href="{{ object.ecstasy_link }}" target="_blank" class="link-button"
                       style="text-decoration: none;  color: #666;">
                        <img width="24" height="24" src="{% static 'self/img/ecstasy.png' %}" alt="ecstasy"/> </a>
                {% endif %}

                {% if object.notes_link %}
                    <a href="{{ object.notes_link }}" target="_blank" class="link-button"
                       style="text-decoration: none;  color: #666;">
                        <img width="24" height="24" src="{% static 'self/img/note.svg' %}" alt="notes"/> </a>
                {% endif %}

                {% if object.another_link %}
                    <a href="{{ object.another_link }}" target="_blank" class="link-button"
                       style="text-decoration: none;  color: #666;">
                        <i class="bi bi-link-45deg m-0 p-0" style="font-size: 1.5rem"></i> </a>
                {% endif %}
            </div>
        </div>


        {# ============== MEDIA ============== #}

        <div class="row d-flex justify-content-between">
            {% if images %}
                {% include "components/files/gallery.html" %}
            {% endif %}

            {% if non_images %}
                {% include "components/files/attached_files.html" %}
            {% endif %}
        </div>


        {# ============== TEXT ============== #}
        <div class="px-4 mt-2 ">
            {% if object.description %}
                <div class=""
                     style="font-size: 16px; text-align: justify;">
                    <span class="">{{ object.description|safe }}</span>
                </div>
            {% endif %}

        </div>


        {# ============== CHILD ============== #}
        {% if child_objects %}
            <div class="row d-flex align-items-center mt-2">
                <div class="col d-flex">
                    <a class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                       data-bs-target="#collapseChildren"
                       aria-expanded="false" aria-controls="collapseChildren">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-collection" viewBox="0 0 16 16">
                            <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                        </svg>

                        Дочерние объекты {{ child_objects|length }}
                    </a>
                </div>
            </div>
        {% endif %}


    </div>
    <div class="collapse shadow rounded ms-4" id="collapseChildren"
         style="position: absolute;  z-index: 1000; backdrop-filter: blur(10px); border: solid 1px #aeaeae">
        <div class="container d-flex p-4 my-3 justify-content-center flex-wrap">
            {% if child_objects %}
                {% for object in child_objects %}
                    {% include "components/object/object-preview.html" with img_preview=object.img_preview title=object.name desc=object.short_description slug=object.slug priority=object.priority groups=object.groups  tags=object.tags %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% include "components/object/edit_obj_modal.html" %}
<style>
    .link-button:hover {
        transform: scale(1.1); /* Увеличение карточки при наведении */
    }
</style>