{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}

<div class="px-5 text-center container ">
  <div class="row pb-3">
      {% include "components/object/object-content.html" with object=object child_objects=child_objects %}
  </div>

  <div>

  </div>

      {% include "components/task/task_container.html" with tasks=tasks.tasks not_done_count=tasks.not_done_count done_count=tasks.done_count  show_active_task=tasks.show_active_task show_done_task=tasks.show_done_task %}



</div>
    




{% endblock %}
