{% load static %}
<div class="container text-center  mt-2">
    <div class="row  p-3 mb-2 shadow rounded border-top border-3">
        <div class="row mb-2 d-flex ">
            <div class="col d-flex justify-content-left ">
                {% if object.parent_slug %}

                    <a href="{% url 'show-object' object.parent_slug %}" class="btn btn-outline-primary X">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                        </svg>
                        {{ object.parent_name }}
                    </a>
                {% else %}
                    <a href="{% url 'home' %}" class="btn btn-outline-primary ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                            <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                        </svg>
                        <span class="mx-2">На главную</span>


                    </a>
                {% endif %}
            </div>
            <div class="col d-flex justify-content-end gap-3">
                {% if object.zabbix_link %}
                    <a href="{{ object.zabbix_link }}"  target="_blank" class="" style="text-decoration: none;  color: #666;">
                    <img width="32" height="32" src="{% static 'self/img/zab.png' %}" alt="zabbix"/> </a>
                {% endif %}
                {% if object.ecstasy_link %}
                    <a href="{{ object.ecstasy_link }}"   target="_blank" class="" style="text-decoration: none;  color: #666;">
                    <img width="32" height="32" src="{% static 'self/img/ecstasy.png' %}" alt="ecstasy"/> </a>
                {% endif %}

                {% if object.notes_link %}
                    <a href="{{ object.notes_link }}"  target="_blank" class="" style="text-decoration: none;  color: #666;">
                    <img width="32" height="32" src="{% static 'self/img/note.svg' %}" alt="notes"/> </a>
                {% endif %}

                {% if object.another_link %}
                    <a href="{{ object.another_link }}"  target="_blank" class="" style="text-decoration: none;  color: #666;">
                    <i class="bi bi-link-45deg m-0 p-0" style="font-size: 1.7rem"></i> </a>
                {% endif %}



            </div>
            <h2>


                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        {% if object.priority == 'LOW' %} fill="#1E90FF"
                        {% elif object.priority == 'MEDIUM' %}  fill="#FFD700"
                        {% elif object.priority == 'HIGH' %}  fill="#FF6347"
                        {% elif object.priority == 'CRITICAL' %}  fill="#FF0000"
                        {% endif %}
                     class="bi bi-bookmarks-fill" viewBox="0 1 18 16">
                    <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
                </svg>
                {{ object.name }}
            </h2>


        </div>
        {% if object.tags.all %}
            <div class="row my-3 text-muted">
                <div class="col d-flex flex-wrap justify-content-start  align-items-center gap-2">
                    {% for tag in object.tags.all %}
                        <span class="badge bg-primary-subtle text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-tag" viewBox="0 0 16 16">
                              <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"></path>
                              <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"></path>
                            </svg>
                            {{ tag }}
                        </span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


        <div class="row">
            {% include "components/files/gallery.html" with files=object.files.all id=object.id type="object" %}
        </div>

        <div class="row my-3">
            {% include "components/files/attached_files.html" with files=object.files.all %}

        </div>
        {% if object.description %}
            <div class="row">
                <div class="col d-flex align-items-center justify-content-start my-4" style="max-width: 48px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                         class="bi bi-card-text"
                         viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>
                <div class="col d-flex flex-column align-items-start border-start"
                     style="font-size: 18px; white-space: pre-line; text-align: justify;">
                    <span class="spoiler-text">{{ object.description|safe }}</span>
                    <button class="btn btn-outline-dark toggle-spoiler mt-2" style="display: none;">Показать больше
                    </button>
                </div>
            </div>
        {% endif %}

        {% if child_objects %}
            <div class="col d-flex align-items-center mt-4">
                <div class="col d-flex">
                    <a class="btn btn-outline-dark" type="button" data-bs-toggle="collapse"
                       data-bs-target="#collapseChildren"
                       aria-expanded="false" aria-controls="collapseChildren">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-collection" viewBox="0 0 16 16">
                            <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                        </svg>

                        Дочерние объекты {{ child_objects|length }}
                    </a>
                </div>
            </div>

        {% endif %}


    </div>

</div>

<div class="collapse" id="collapseChildren">
    <div class="container d-flex p-4 my-3 justify-content-center flex-wrap">
        {% if child_objects %}
            {% for object in child_objects %}
                {% include "components/object/object-preview.html" with img_preview=object.img_preview title=object.name desc=object.short_description slug=object.slug priority=object.priority groups=object.groups  tags=object.tags %}
            {% endfor %}
        {% endif %}
    </div>
</div>