<!doctype html>

{% load static %}
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static '/self/img/favicon.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'self/css/custom_styles.css' %}">
    <link rel="stylesheet" href="{% static 'self/css/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'self/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'self/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'self/css/attached_files.css' %}">
    <link rel="stylesheet" href="{% static 'self/css/spoiler.css' %}">
    <link rel="stylesheet" href="{% static 'self/css/pagination.css' %}">


    <link rel="stylesheet" href="{% static 'bootstrap_5_3_3/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap_5_3_3/bootstrap-icons.css' %}">
    <script src="{% static 'bootstrap_5_3_3/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>

    <!-- Библиотека для галереи -->
    <link rel="stylesheet" href="{% static 'nanogallery2/nanogallery2.min.css' %}" type="text/css">
    <script src="{% static 'nanogallery2/jquery.nanogallery2.min.js' %}" type="text/javascript"></script>

    <link rel="stylesheet" href="{% static 'vue-select/vue-select.css' %}">
    <script src="{% static 'vue-select/vue-select.js' %}"></script>

    <script src="{% static 'self/js/custom-scripts.js' %}"></script>
    <script src="{% static 'self/js/modalsLogic.js' %}"></script>

    <style>* {
        font-family: MS Reference Sans Serif
    }</style>
</head>


<body>
{% include "components/header.html" %}

{% if messages %}
    <div class="container d-flex flex-wrap flex-column gap-2">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'debug' %}secondary{% else %}{{ message.tags }}{% endif %}"
                 role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% block content %}{% endblock content %}
{% include "components/footer.html" %}


</body>


</html>
