{% load static %}
<script src="{% static 'vue/vue@^2' %}"></script>
<script src="{% static 'tree-select/vue-treeselect.umd.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'tree-select/vue-treeselect.min.css' %}">


<div id="objects-tree-select_{{ select_name }}">
    <treeselect
            name="{{ select_name }}"
            v-model="value"
            placeholder="Смотря какой {{ select_name }}"
            :flat="true"
            :multiple="true"
            :options="options"
            :value-consists-of="valueConsistsOf"/>
</div>

<script>
    // console.log("{{ current_options|safe }}")
    Vue.component('treeselect', VueTreeselect.Treeselect)
    new Vue({
      el: '#objects-tree-select_{{ select_name }}',
      data: {
        value: {{ current_options|default:"[]"|safe }},
        valueConsistsOf: 'BRANCH_PRIORITY',
        options: {{objects_structure_json|default:"[]"|safe }},
      },
    })
//
// options: [ {
//   id: 'a',
//   label: 'a',
//   children: [ {
//     id: 'aa',
//     label: 'aa',
//   }, {
//     id: 'ab',
//     label: 'ab',
//   } ],
// }, {
//   id: 'b',
//   label: 'b',
// }, {
//   id: 'c',
//   label: 'c',
// } ],
</script>

