body {
    /*background-image: url("https://snipp.ru/themes/site/img/header-bg.png");*/
    /*background-repeat: repeat; !* Повторяет изображение по всей площади *!*/
    /*background-size: auto; !* Оставляет оригинальный размер изображения *!*/
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                url("https://snipp.ru/themes/site/img/header-bg.png");
}


/*Стили для карточек object_preview*/
.card {
    width: 300px; /* Ширина карточки */
    height: 400px; /* Высота карточки */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Обрезать содержимое, выходящее за пределы карточки */
    margin: 1rem; /* Отступ между карточками */
}

.card-img-top {
    width: 100%; /* Ширина изображения соответствует ширине карточки */
    height: 200px; /* Высота изображения (или измените в зависимости от вашего дизайна) */
    object-fit: cover; /* Масштабировать изображение, сохраняя пропорции и обрезая его */
}

.card-body {
    flex: 1; /* Позволяет содержимому карточки занимать оставшееся пространство */
}

.card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Добавление тени при наведении */
}


/*Стили для прикрепленных файлов*/
.files-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.file-item {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden; /* Prevent overflow */
}

.file-content {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden; /* Prevent overflow */
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    padding: 0; /* Remove default padding */
    border: none; /* Remove default border */
    background: transparent; /* Remove default background */
}

.icon-button i {
    font-size: 2rem;
    cursor: pointer; /* Indicate that it's clickable */
}

.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1; /* Allow text to take available space */
}


/*Стили для спойлеров*/
.spoiler-text {
    display: block;
    max-height: 100px; /* Установите подходящую высоту для ограничения отображаемого текста */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease; /* Плавный переход для изменения высоты */
}

.spoiler-text.spoiler {
    max-height: none;
}



/*Стили для пагинации*/
.pagination {
  display: inline-block;
}
.pagination a {
    border-radius: 5px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.pagination a.active {
    border-radius: 5px;
  background-color: rgba(75, 0, 255, 0);
  color: #070707;
  border: 2px solid #2f85e8;
}

.pagination a.next_prev {
    border-radius: 5px;
  background-color: rgba(47, 133, 232, 0);
  color: #070707;
  border: 2px solid rgba(47, 133, 232, 0);
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.taskDone div {
    background-color: #00CC00;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;

}
.taskCalendar {
    border: 1px solid #505050 !important;
    border-radius: 10px;
}
.taskCalendar:hover {
    box-shadow: 2px 1px 1px #959595;
    cursor: pointer;
}

.taskCrit div {
    background-color: #ff4848;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}
.taskDanger div {
    background-color: #E97659;
    border-radius: 5px;
    color: #fcfcfc;
    text-align: center;
    font-weight: 700;

}
.taskWarning div {
    background-color: #FFC859;
    border-radius: 5px;
    color: #383838;
    text-align: center;
    font-weight: 700;

}
.taskInfo div {
    background-color: #7499FF;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;

}