{% load static %}
<div class="col {% if not files %}col-12{% else %}col{% endif %}">
    <div class="attached-files mt-2">
        <div class="files-grid">
            {% for file in files %}
                {% if not file.is_image %}
                <div class="file-item">
                    <div class="file-content d-flex align-items-center p-2">
                        <a href="{{ file.file.url }}" download="{{ file.clear_file_name }}"
                           class="d-flex align-items-center text-decoration-none">
                            {% if file.extension == ".pdf" %}
                                <i class="bi bi-filetype-pdf"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".doc" %}
                                <i class="bi bi-filetype-doc"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".docx" %}
                                <i class="bi bi-filetype-docx"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".txt" %}
                                <i class="bi bi-filetype-txt"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".exe" %}
                                <i class="bi bi-filetype-exe"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".gif" %}
                                <i class="bi bi-filetype-gif"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".html" %}
                                <i class="bi bi-filetype-html"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".js" %}
                                <i class="bi bi-filetype-js"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".css" %}
                                <i class="bi bi-filetype-js"
                                   style="font-size: 1em;"></i>
                            {% elif file.extension == ".py" %}
                                <i class="bi bi-filetype-py"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".json" or file.extension == ".geojson" %}
                                <i class="bi bi-filetype-json"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".xls" %}
                                <i class="bi bi-filetype-xls"
                                   style="font-size: 1rem;"></i>
                            {% elif  file.extension == ".xlsx" %}
                                <i class="bi bi-filetype-xlsx"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".ppt" %}
                                <i class="bi bi-filetype-ppt"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".pptx" %}
                                <i class="bi bi-filetype-pptx"
                                   style="font-size: 1rem;"></i>
                            {% elif file.extension == ".zip" or file.extension == ".rar" %}
                                <i class="bi bi-file-earmark-zip"
                                   style="font-size: 1rem;"></i>
                            {% else %}
                                <i class="bi bi-file-earmark"
                                   style="font-size: 1rem;"></i>
                            {% endif %}
                            <span class="ms-2">

                                        {{ file.clear_file_name|truncatechars:10 }}{{ file.extension }}
                                    </span>
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>