{% load static %}
<div id="nanogallery2_{{ type }}_{{ id }}_{% now 'H_m_s' %}"  data-nanogallery2='{
        "thumbnailWidth": "auto",
        "thumbnailHeight": "200",
        "thumbnailLabel": {
          "position": "overImageOnBottom"
        },
        "galleryDisplayMode": "rows",
        "galleryMaxRows": 1,
        "thumbnailAlignment": "center",
        "thumbnailOpenImage": true
      }'>
    {% for file in files %}
        {% if file.is_image %}
        <a href="{{ file.file.url }}"></a>
        {% endif %}
    {% endfor %}
</div>

<script type="text/javascript" src="{% static 'nanogallery2/jquery.nanogallery2.min.js' %}"></script>
