<div id="my_nanogallery2"  data-nanogallery2='{
        "thumbnailWidth": "auto",
        "thumbnailHeight": "200",
        "thumbnailLabel": {
          "position": "overImageOnBottom"
        },
        "galleryDisplayMode": "rows",
        "galleryMaxRows": 1,
        "thumbnailAlignment": "center",
        "thumbnailOpenImage": true
      }'>
    <a href="https://cataas.com/cat" data-ngthumb="https://cataas.com/cat">CAT</a>
    <a href="https://cataas.com/cat" data-ngthumb="https://cataas.com/cat">CAT</a>
    <a href="https://cataas.com/cat" data-ngthumb="https://cataas.com/cat">CAT</a>
    <a href="https://cataas.com/cat" data-ngthumb="https://cataas.com/cat">CAT</a>
    <a href="https://cataas.com/cat" data-ngthumb="https://cataas.com/cat">CAT</a>
    <a href="https://cataas.com/cat" data-ngthumb="https://cataas.com/cat">CAT</a>
    <a href="https://cataas.com/cat" data-ngthumb="https://cataas.com/cat">CAT</a>
    <a href="https://cataas.com/cat" data-ngthumb="https://cataas.com/cat">CAT</a>
</div>
