{% extends "base.html" %}
{% load static %}

{% block title %}Календарь{% endblock title %}

{% block content %}

    <!-- Календарь -->
    {#    Basic#}
    <link rel="stylesheet" href="{% static '/fullcalendar/@5.11.main.min.css' %}">

    {#    Premium#}
    {#    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>#}

    <script src='{% static '/fullcalendar/premium.min.js' %}'></script>


    <!-- Календарь -->

    <div class="px-3 py-3">
        <div class="container  px-3 ">
            <div class="container">
                {% include "components/task/tasks_container_buttons.html" with not_done_count=task_count.not_done_count done_count=task_count.done_count show_my_tasks_only=filter_params.show_my_tasks_only sort_order=filter_params.sort_order show_active_task=filter_params.show_active_task show_done_task=filter_params.show_done_task tasks_due_today_count=task_count.tasks_due_today_count %}

            </div>

            <div class="mt-4 px-4" id="calendar"></div>
        </div>
    </div>

    <script src="{% static 'self/js/filters.js' %}"></script>
{% endblock %}

