{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock title %}

{% block content %}

    <!-- Календарь -->
    {#    Basic#}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' rel='stylesheet'/>

    {#    Premium#}
    {#    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>#}

    <script src='{% static 'js/fullcalendar-premium.js' %}'></script>



    <!-- Календарь -->
    <div class="container pt-4">

        <div class="container shadow p-5 mt-5 bg-body-tertiary rounded border-top border-3">



                <div class="d-flex justify-content-between">
                    <div>
                        {% include "components/task/create_task.html" %}
                    </div>
                    <div class="form-check form-switch d-flex gap-2 align-items-center">
                        <!-- Переключатель "Показывать только мои задачи" -->
                        <input class="form-check-input form-check-lg" type="checkbox" role="switch"
                               id="flexSwitchCheckDefault"
                               onchange="window.location.href = '?show_my_tasks_only=' + this.checked;"
                               {% if  tasks.show_my_tasks_only %}checked{% endif %}>
                        <label class="form-check-label" for="flexSwitchCheckDefault"
                               style="font-size: 18px; margin-right: 10px;">Показывать только мои задачи
                        </label>
                    </div>
                </div>

            <div class="mt-4" id="calendar"></div>
        </div>
    </div>




    <!-- Модальное окно -->
    <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div id="task-content" class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

    <script>
        // const myModal = document.getElementById('taskModal');
        const myModal = new bootstrap.Modal('#taskModal', {})

        document.addEventListener('DOMContentLoaded', function () {
            const calendarEl = document.getElementById('calendar');
            const todayDate = new Date().toISOString().split('T')[0]; // Текущая дата в формате YYYY-MM-DD
            const calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'ru',

                dayMaxEventRows: true, // for all non-TimeGrid views
                views: {
                    timeGrid: {
                        dayMaxEventRows: 10 // adjust to 6 only for timeGridWeek/timeGridDay
                    }
                },
                firstDay: 1,
                height: '70vh',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'listWeek,dayGridMonth,multiMonthYear'
                },
                initialView: 'dayGridMonth',
                themeSystem: "bootstrap5",
                businessHours: [
                    {
                        daysOfWeek: [1, 2, 3, 4, 5],
                        startTime: '08:30',
                        endTime: '17:30'
                    },
                ],

                eventClick: function (info) {
                    myModal.show();
                    $("#task-content").load("/ajax/tasks/" + info.event.id + "/")
                },

                events: [
                    {% for task in tasks.tasks %}
                        {
                            title: '{{ task.header }}',
                            start: '{{ task.completion_time|date:"Y-m-d" }}',
                            id: '{{ task.id }}',
                            {#url: '{% url 'tasks' %}',#}

                            classNames: ['taskCalendar',
                                {% if task.is_done %}
                                    'taskDone',
                                {% else %}
                                    {% if task.priority == 'CRITICAL' %}
                                        'taskCrit',
                                    {% elif task.priority == 'HIGH' %}
                                        'taskDanger',
                                    {% elif task.priority == 'MEDIUM' %}
                                        'taskWarning',
                                    {% elif task.priority == 'LOW' %}
                                        'taskInfo',
                                    {% endif %}
                                {% endif %}]
                        },
                    {% endfor %}
                ],

                buttonText:
                    {
                        today: 'Сегодня',
                        month: 'Месяц',
                        week: 'Неделя',
                        day: 'День',
                        year: 'Год',
                    },
                editable: false,
                selectable: true
            });
            calendar.render();
        });
    </script>
{% endblock %}

