<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-outline-success"
        {% if form_type == 'collapse' %}
            data-bs-toggle="collapse" data-bs-target="#confirmTaskCollapse-{{ task_id }}"
            aria-expanded="false" aria-controls="collapseExample"
        {% else %}
            data-bs-toggle="modal" data-bs-target="#confirmTaskModal-{{ task_id }}"
        {% endif %}
        data-form-action="{% if action_type == 'close' %}close{% else %}return{% endif %}">
    <i class="bi bi-check-circle"></i>
    {% if action_type == 'close' %}
        Закрыть задачу{% else %}
        Вернуть задачу в работу
    {% endif %}
</button>

<!-- Модальное окно -->
<div class="modal fade" id="confirmTaskModal-{{ task_id }}" data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    {% if action_type == 'close' %}Закрыть задачу{% else %}Вернуть задачу в работу{% endif %}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <!-- Передайте form_action для использования в форме -->
                {% include 'components/task/confirm_task_form.html' with task_id=task_id form_action=action_type %}
            </div>
        </div>
    </div>
</div>

<!-- Выпадающее окно -->
<div class="collapse" id="confirmTaskCollapse-{{ task_id }}">
  <div class="pt-3">
    <!-- Передайте form_action для использования в форме -->
    {% include 'components/task/confirm_task_form.html' with task_id=task_id form_action=action_type %}
  </div>
</div>
