<form method="POST" action="{% url "edit_task" task.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="p-3">
        <!-- Заголовок задачи -->
        <div class="mb-3">
            <label for="taskHeader_edit_{{ task.id }}" class="form-label">Заголовок</label>
            <input type="text" class="form-control" id="taskHeader_edit_{{ task.id }}" name="header"
                   value="{{ task.header }}" required>
        </div>

        <!-- Приоритет задачи -->
        <div class="mb-3">
            <label for="taskPriority_edit_{{ task.id }}" class="form-label">Приоритет</label>
            <select name="priority" class="select form-select" id="taskPriority_edit_{{ task.id }}">
                <option value="" {% if not task.priority %}selected{% endif %}>-</option>
                <option value="CRITICAL" {% if task.priority == 'CRITICAL' %}selected{% endif %}>
                    Критический
                </option>
                <option value="HIGH" {% if task.priority == 'HIGH' %}selected{% endif %}>Высокий</option>
                <option value="MEDIUM" {% if task.priority == 'MEDIUM' %}selected{% endif %}>Средний
                </option>
                <option value="LOW" {% if task.priority == 'LOW' %}selected{% endif %}>Низкий</option>
            </select>
        </div>

        <!-- Статус выполнения -->
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="taskIsDone_edit_{{ task.id }}"
                   name="is_done" {% if task.is_done %}checked{% endif %}>
            <label class="form-check-label" for="taskIsDone_edit_{{ task.id }}">Задача выполнена</label>
        </div>

        <!-- Время завершения -->
        <div class="mb-3">
            <label for="taskCompletionTime_edit_{{ task.id }}" class="form-label">Время завершения</label>
            <input type="datetime-local" class="form-control" id="taskCompletionTime_edit_{{ task.id }}"
                   name="completion_time" value="{{ task.completion_time|date:'Y-m-d\\TH:i' }}" required>
        </div>

        <!-- Текст задачи -->
        <div class="mb-3">
            <label for="taskText_edit_{{ task.id }}" class="form-label">Описание</label>
            <textarea class="form-control" id="taskText_edit_{{ task.id }}" name="text"
                      rows="3">{{ task.text }}</textarea>
        </div>

        <!-- Выбор инженеров -->
        <div class="mb-3">
            <label for="taskEngineers_edit_{{ task.id }}" class="form-label">Инженеры</label>
            {% include 'tree-select-task.html' with select_name='engineers_edit' current_options=current_engineers task_id=task.id objects_structure_json=engineers_json %}

        </div>

        <!-- Выбор тегов  -->
        <div class="mb-3">
            <label for="taskTags_edit_{{ task.id }}" class="form-label">Теги</label>
            {% include 'tree-select-task.html' with select_name='tags_edit' current_options=current_tags_edit task_id=task.id objects_structure_json=tags_json %}

        </div>

        <!-- Выбор объектов  -->
        <div class="mb-3">
            <label for="taskObj_edit_{{ task.id }}" class="form-label">Объекты</label>
            {% include 'tree-select-task.html' with select_name='objects_edit' current_options=current_objects_edit task_id=task.id objects_structure_json=objects_json %}

        </div>

        <!-- Загрузка файлов (псевдокод для примера) -->
        <div class="mb-3">
            <label for="taskFiles_edit_{{ task.id }}" class="form-label">Файлы</label>
            <input class="form-control" type="file" id="taskFiles" name="files" multiple>
        </div>


    </div>

    <div class="p-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>