{% load static %}
<!-- font -->
<link href="{% static 'fileuploader/font/font-fileuploader.css' %}" media="all" rel="stylesheet">
<!-- css -->
<link href="{% static 'fileuploader/jquery.fileuploader.min.css' %}" media="all" rel="stylesheet">
<!-- js -->
<script src="{% static 'fileuploader/jquery.fileuploader.min.js' %}" type="text/javascript"></script>

<form class="text-start bg-light" method="POST" action="{% url "edit_task" task.id %}" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Поле для передачи URL с фильтрами -->
    <input type="hidden" name="from_url" value="{{ from_url }}">

    <div class="modal-body p-4">

        <div class="d-flex gap-2">
            <!-- Заголовок задачи -->
            <div class="mb-3 w-100">
                <label for="taskHeader_edit_{{ task.id }}" class="form-label">Заголовок<span
                        style="color: red;"> *</span></label>
                <input type="text" class="form-control" id="taskHeader_edit_{{ task.id }}" name="header"
                       value="{{ task.header }}" required>
            </div>


            <!-- Время завершения -->
            <div class="mb-3 col-3">
                <label for="taskCompletionDate_edit_{{ task.id }}" class="form-label">Дата завершения<span
                        style="color: red;"> *</span></label>
                <input type="date" class="form-control" id="taskCompletionDate_edit_{{ task.id }}"
                       name="completion_date_only" value="{{ task.completion_time|date:'Y-m-d' }}" required>
            </div>
            <div class="mb-3 col-3">
                <label for="taskCompletionTime_edit_{{ task.id }}" class="form-label">Время завершения<span
                        style="color: red;"> *</span></label>
                <input type="time" class="form-control" id="taskCompletionTime_edit_{{ task.id }}"
                       name="completion_time_only" value="{{ task.completion_time|time:'H:i' }}" required>
            </div>

        </div>

        <!-- Статус выполнения -->
        <div class="mb-3 form-check form-switch">
            <input type="checkbox" class="form-check-input" id="taskIsDone_edit_{{ task.id }}" role="switch"
                   name="is_done" {% if task.is_done %}checked{% endif %}>
            <label class="form-check-label" for="taskIsDone_edit_{{ task.id }}">Задача выполнена</label>
        </div>

        <div class="d-flex gap-2">

            <!-- Приоритет задачи -->
            <div class="mb-3 col-2">
                <label for="taskPriority_edit_{{ task.id }}" class="form-label">
                    <i class="bi bi-fire" style="font-size: 1.2rem;"></i>
                    <span>Приоритет<span style="color: red;"> *</span></span>
                </label>
                <select name="priority" class="select form-select" id="taskPriority_edit_{{ task.id }}">
                    <option value="" {% if not task.priority %}selected{% endif %}>-</option>
                    <option value="CRITICAL" {% if task.priority == 'CRITICAL' %}selected{% endif %}>
                        Критический
                    </option>
                    <option value="HIGH" {% if task.priority == 'HIGH' %}selected{% endif %}>Высокий</option>
                    <option value="MEDIUM" {% if task.priority == 'MEDIUM' %}selected{% endif %}>Средний
                    </option>
                    <option value="LOW" {% if task.priority == 'LOW' %}selected{% endif %}>Низкий</option>
                </select>
            </div>
            <!-- Выбор объектов  -->
            <div class="mb-3">
                <label for="taskObj_edit_{{ task.id }}" class="form-label">
                    <i class="bi bi-box" style="font-size: 1.2rem;"></i>
                    <span>Объекты</span>
                </label>
                {% include 'tree-select.html' with select_name='objects_edit' current_options=current_objects_edit task_id=task.id objects_structure_json=objects_json %}
            </div>

        </div>

        <div class="d-flex gap-2">
            <!-- Выбор инженеров -->
            <div class="mb-3">
                <label for="taskEngineers_edit_{{ task.id }}" class="form-label">
                    <i class="bi bi-people-fill" style="font-size: 1.2rem;"></i>
                    <span>Инженеры<span style="color: red;"> *</span></span>
                </label>
                {% include 'tree-select.html' with select_name='engineers_edit' current_options=current_engineers task_id=task.id objects_structure_json=engineers_json %}
            </div>

            <!-- Выбор тегов  -->
            <div class="mb-3" style="min-width: 500px">
                <label for="taskTags_edit_{{ task.id }}" class="form-label">
                    <i class="bi bi-tags-fill" style="font-size: 1.2rem;"></i>
                    <span>Теги</span>
                </label>
                {% include 'tags-select.html' with select_name='tags_edit' current_options=current_tags_edit task_id=task.id objects_structure_json=tags_json %}
            </div>
        </div>


        <!-- Текст задачи -->
        <div class="mb-3">
            <label for="taskText_edit_{{ task.id }}" class="form-label">
                <i class="bi bi-card-text" style="font-size: 1.2rem;"></i>
                <span>Описание</span>
            </label>
            <textarea class="form-control" id="taskText_edit_{{ task.id }}" name="text" rows="4"> {{task.text }}</textarea>
        </div>


        <!-- Загрузка файлов (псевдокод для примера) -->
        <div id="filess" class="mb-3">
            <input class="form-control" type="file" id="taskFilesEdit" name="files" multiple>
        </div>

    </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
</form>


<style>
    .fileuploader-input-button {
        background-color: var(--bs-blue) !important;
        border-radius: 10px !important;
        background-image: none !important;

        display: none !important;
    }


    .fileuploader-input-caption {
        border-radius: 10px !important;
        margin-right: 0 !important;
    }

    .fileuploader {
        padding: 0; /* Опционально: внутренние отступы */
    }

    .fileuploader-input {
        background-color: #fafafa; /* Цвет фона для области выбора файлов */

    }
</style>

<script>
    $(document).ready(function () {
        $('#taskFilesEdit').fileuploader({
            addMore: true,
            limit: 10,
            {% if task.files.all %}
                files: [
                    {% for f in task.files.all %}
                        {
                            name: '{{ f.clear_file_name }}', // file name
                            size: {{f.file.size}}, // file size in bytes
                            type: 'image/png', // file MIME type
                            file: '{{ f.file.url }}', // file path
                            local: '{{ f.file.url }}', // file path in listInput (optional)
                            data: {
                                thumbnail: '{{ f.file.url }}', // item custom thumbnail; if false will disable the thumbnail (optional)
                                readerCrossOrigin: 'anonymous', // fix image cross-origin issue (optional)
                                readerForce: true, // prevent the browser cache of the image (optional)
                                readerSkip: true, // skip file from reading by rendering a thumbnail (optional)
                                popup: true, // remove the popup for this file (optional)
                                listProps: {}, // custom key: value attributes in the fileuploader's list (optional)
                                your_own_attribute: 'your own value'
                            }
                        },
                    {% endfor %}
                ],
            {% endif %}
        });
        // Замена текста
        $('.fileuploader-input-caption span').text('Добавить файлы');
        $('.fileuploader-input-button span').text('Выберите файл');

        // Удаление всего текста внутри div с id="files"
        $('#filess').contents().filter(function() {
            return this.nodeType === 3; // Текстовый узел
        }).remove();
    });

</script>
