{% load static %}
{% load humanize %}

<div class="accordion " id="accordionPanelsStayOpenExample">


    <div class="position-relative accordion-item bg-white border rounded {% if not expanded %}shadow{% else %}shadow-sm{% endif %} mx-3 my-3">
        <!-- Индикатор новых комментариев -->


        {% if task.comments.all %}
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                  style="z-index: 100">
                <span class="visually-hidden">Новые комментарии</span>
            </span>
        {% endif %}
        <h2 class="accordion-header rounded"
                {% if task.time_left < 24 and task.time_left > 0 or task.completion_time.date == task.time_now.date %}
            style="border-left: 6px solid
                    {% if task.priority == 'LOW' %} #1E90FF
                    {% elif task.priority == 'MEDIUM' %}  #FFD700
                    {% elif task.priority == 'HIGH' %}  #FF6347
                    {% elif task.priority == 'CRITICAL' %}  #FF0000
                    {% endif %}
                    !important;
                    border-bottom: 1px solid gainsboro;"
                {% else %}
            style="border-bottom: 1px solid gainsboro;"
            style="border-bottom: 0;"
                {% endif %}>

            <button class="accordion-button pb-1 ps-2 pt-3 ps-4{% if not expanded %}collapsed{% endif %} d-flex"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ task.id }}"
                    aria-expanded="{% if expanded %}true{% else %}false{% endif %}"
                    aria-controls="collapse{{ task.id }}">

                <div class="container-fluid ">
                    <div class="d-flex flex-row w-100 align-items-center ms-0">

                        {# ============== PRIORITY ============== #}
                        <div class="d-flex justify-content-center align-items-center "
                             style="max-width: 48px">
                            {% if task.is_done == False %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        {% if task.priority == 'LOW' %} fill="#1E90FF"
                                        {% elif task.priority == 'MEDIUM' %}  fill="#FFD700"
                                        {% elif task.priority == 'HIGH' %}  fill="#FF6347"
                                        {% elif task.priority == 'CRITICAL' %}  fill="#FF0000"
                                        {% endif %}
                                     class="bi bi-bookmarks-fill" viewBox="0 1 18 16" data-bs-toggle="tooltip"
                                     data-bs-delay='{"show":1000,"hide":150}'
                                     data-bs-title="Создана {{ task.creator }}   {{ task.create_time|date:"d.m.Y H:i" }}">

                                    <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"></path>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#32CD32"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
                                </svg>
                            {% endif %}
                        </div>

                        {# ============== DATETIME ============== #}
                        <div class="col-md-2 d-flex align-items-center gap-2 ms-2 px-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                 class="bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                            </svg>
                            {% if task.completion_time|date:"Y-m-d" == default_date %}
                                <span class="ms-2">{{ task.completion_time|naturaltime }}</span>
                            {% else %}
                                <span class="ms-2">{{ task.completion_time|date:"d.m.Y H:i" }}</span>
                            {% endif %}

                        </div>

                        {# ============== HEADER ============== #}
                        <div class="d-flex justify-content-left align-items-center px-3">
                            <strong>{{ task.header }}</strong>
                        </div>

                    </div>


                </div>
            </button>
            {# -- 2 Строка -- #}
            <div class="row pb-3 pt-2 mx-2 px-1 " style="font-size: medium">
                {# ============== OBJECTS ============== #}
                <div class="col d-flex justify-content-left">
                    <div class="d-flex flex-wrap justify-content-left  align-items-center gap-2 mt-2">
                        <i class="bi bi-grid pe-2" style="font-size: 1.2rem;"></i>
                        {% if task.objects_set.all %}
                            {% for obj in task.objects_set.all %}

                                <a href="{% url "show-object" obj.slug %}"
                                   class="badge bg-dark-subtle text-black"
                                   style="text-decoration: none; ">{{ obj.name }}</a>

                            {% endfor %}
                        {% else %}
                            <li class="list-group-item" style=" font-family: Calibri">Объект не указан</li>
                        {% endif %}

                    </div>
                </div>

                {# ============== ENGINEERS ============== #}
                <div class="col d-flex justify-content-end px-3">
                    <div class="col-md-10 d-flex flex-wrap justify-content-end  align-items-center gap-2 mt-2">
                        {% if task.engineers.all %}
                            {% for engineer in task.engineers.all %}
                                <div>
                                    <a href="{% url "tasks" %}?engineers=eng_{{ engineer.id }}"
                                       class="badge bg-secondary"
                                       style="text-decoration: none; ">{{ engineer.first_name }} {{ engineer.second_name }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if task.departments.all %}
                            {% for departments in task.departments.all %}
                                <div>
                                    <a href="{% url "tasks" %}?engineers=dep_{{ departments.id }}"
                                       class="badge bg-secondary" style="text-decoration: none; ">{{ departments }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </h2>


        <div id="collapse{{ task.id }}" class="accordion-collapse  collapse {% if expanded %}show{% endif %}">
            <div class="accordion-body pb-2 px-3 rounded bg-white">
                <div class="container text-center px-0">
                    {# ============== MEDIA ============== #}

                    <div class="row d-flex justify-content-between">
                        {% if task.files.all %}
                            {#                            {% include "components/files/gallery.html" with images=task.files.all id=task.id type="task" %}#}

                            {% include "components/files/attached_files.html" with files=task.files.all %}
                        {% endif %}
                    </div>


                    {# ============== TEXT ============== #}
                    {% if task.text %}

                        <div class=" ms-3 me-3 mt-4 d-flex flex-column align-items-start"
                             style="font-size: 14px; white-space: normal; text-align: justify;">
                            <span>{{ task.text|safe }}</span>
                        </div>


                    {% endif %}
                    {# ==============COMMENT TEXT ============== #}

                    {% if task.comments.all %}
                        {% for comment in task.comments.all %}
                            <div class="ms-3 me-3 pt-3 pb-3 border-top" style="text-align: left !important;">
                            <span style="font-size: 14px">
                                <i class="bi bi-chat-left-dots" style="font-size: 1rem"></i>
                                <strong>
                                    {% if comment.author.engineer %}
                                        {{ comment.author.engineer.first_name }} {{ comment.author.engineer.second_name }}
                                    {% else %}
                                        {{ comment.author.username }}
                                    {% endif %}
                               </strong>
                            </span>
                                <span>: {{ comment.text|safe }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {# ============== STATUS TEXT ============== #}
                    {% if task.completion_text %}
                        <div class="ps-3 pt-2 pe-3 pb-2 d-flex flex-column align-items-start"
                             style="font-size: 12px; white-space: pre-line; text-align: justify;">
                            <button class="btn btn-outline-secondary showHistoryButton" onclick="toggleHistory(this)"
                                    style="font-size: 12px">📃 Показать историю
                            </button>
                            <div class="historyContent" style="display: none;">
                                <span>{{ task.completion_text|safe }}</span>
                            </div>
                        </div>
                    {% endif %}



                    {# ============== TAGS ============== #}
                    {% if task.tags.all %}
                        <div class="row my-3 ps-2 text-muted">
                            <div class="col d-flex flex-wrap justify-content-start  align-items-center gap-2">

                                {% for tag in task.tags.all %}
                                    <a href="{% url "tasks" %}?tags={{ tag.id }}"
                                       class="badge bg-primary-subtle text-dark" style="text-decoration: none; ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-tag" viewBox="0 0 16 16">
                                            <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"></path>
                                            <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"></path>
                                        </svg>
                                        {{ tag.tag_name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {# ============== TASK BUTTONS ============== #}

                    <div class="row text-start pt-2 border-top px-1">
                        <div class="col">
                            {# Кнопка "Взять задачу" #}
                            {% if not task.is_done and request.user.engineer and request.user.engineer.department in task.departments.all %}
                                {% include "components/task/take_task_button.html" with task_id=task.id %}
                            {% endif %}
                        </div>

                        <div class="col text-end gap-2">
                            {# Кнопки редактирования и удаления (создатель, суперюзер, стаф) #}
                            {% if request.user == task.creator or request.user.is_superuser or request.user.is_staff %}
                                {% include "components/task/delete_task_button.html" with task_id=task.id action_type="delete" %}
                                {% include "components/task/edit_task_button.html" with task_id=task.id %}
                            {% endif %}

                            {# Кнопка "Комментировать задачу" (исполнитель, департамент, создатель, суперюзер, стаф) #}
                            {% if request.user.engineer in task.engineers.all or request.user.engineer.department in task.departments.all or request.user == task.creator or request.user.is_superuser or request.user.is_staff %}
                                {% include "components/task/comment_task_button.html" with task_id=task.id %}
                            {% endif %}

                            {# Кнопка "Закрыть" или "Вернуть в работу" #}
                            {% if task.is_done %}
                                {% if request.user.engineer in task.engineers.all or request.user.is_superuser or request.user.is_staff %}
                                    {% include "components/task/confirm_task_button.html" with task_id=task.id action_type="reopen" %}
                                {% endif %}
                                {#                            {% else %}#}
                                {#                                {% include "components/task/confirm_task_button.html" with task_id=task.id action_type="close" %}#}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function toggleHistory(button) {
        // Находим ближайший контейнер с контентом
        var content = button.nextElementSibling;

        if (content.style.display === "none") {
            content.style.display = "block";
            button.textContent = "📃 Скрыть историю";
        } else {
            content.style.display = "none";
            button.textContent = "📃 Показать историю";
        }
    }
</script>
<style>
    /* Убираем синюю рамку на активной кнопке */
    .accordion-button:focus {
        box-shadow: none;
        outline: none;
        background-color: white;
        color: black;
    }

    /* Убираем синюю подсветку, если аккордеон активен */
    .accordion-button:not(.collapsed) {
        box-shadow: none;
        background-color: white;
        color: black;
    }

    .accordion-body {
        padding: 0;
    }


</style>

