{% load static %}
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item bg-light border rounded {% if not expanded %}shadow{% else %}shadow-sm{% endif %} mx-3 my-3">
        <h2 class="accordion-header">
            <button class="accordion-button {% if not expanded %}collapsed{% endif %} d-flex" type="button"
                    data-bs-toggle="collapse"
                    {% if task.completion_time|date:"Y-m-d" == default_date %}
                    style="border: 2px solid
                            {% if task.priority == 'LOW' %} #1E90FF
                            {% elif task.priority == 'MEDIUM' %}  #FFD700
                            {% elif task.priority == 'HIGH' %}  #FF6347
                            {% elif task.priority == 'CRITICAL' %}  #FF0000
                            {% endif %}
                            !important;"
                    {% else %}
                    style="border-bottom: 1px solid gainsboro;"
                    {% endif %}

                    data-bs-target="#collapse{{ task.id }}"
                    aria-expanded="{% if expanded %}true{% else %}false{% endif %}"
                    aria-controls="collapse{{ task.id }}">

                <div class="container-fluid ">
                    <div class="d-flex flex-row w-100 align-items-center">

                        <!-- Огонёк -->
                        <div class="col-md-1 d-flex justify-content-center align-items-center "
                             style="max-width: 48px">
                            {% if task.is_done == False %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        {% if task.priority == 'LOW' %} fill="#1E90FF"
                                        {% elif task.priority == 'MEDIUM' %}  fill="#FFD700"
                                        {% elif task.priority == 'HIGH' %}  fill="#FF6347"
                                        {% elif task.priority == 'CRITICAL' %}  fill="#FF0000"
                                        {% endif %}
                                     class="bi bi-bookmarks-fill" viewBox="0 1 18 16" data-bs-toggle="tooltip"
                                     data-bs-delay='{"show":1000,"hide":150}' data-bs-title="Важность задачи">
                                    <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"></path>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#32CD32"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"></path>
                                </svg>
                            {% endif %}
                        </div>

                        <!-- Дата-время -->
                        <div class="col-md-2 d-flex align-items-center border-end border-start gap-2 px-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                 class="bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                            </svg>
                            <span class="ms-2" data-bs-toggle="tooltip" data-bs-delay='{"show":1000,"hide":150}'
                                  data-bs-title="Дата-время, когда задача должна быть завершена">{{ task.completion_time|date:"d.m.Y H:i" }}</span>
                        </div>

                        <!-- Заголовок задачи -->
                        <div class="col-md-9 d-flex justify-content-left align-items-center px-3">

                            <strong style="text-align: justify;">{{ task.header }}</strong>
                        </div>
                    </div>

                    <!-- Вторая строка -->
                    <div class="row mt-3">

                        <!-- Объекты -->
                        <div class="col d-flex justify-content-left px-4 ">
                            <div class="d-flex flex-wrap justify-content-left  align-items-center gap-2 mt-2"
                                 data-bs-toggle="tooltip" data-bs-delay='{"show":1000,"hide":150}'
                                 data-bs-title="Объект, к которому относится задача">
                                <i class="bi bi-compass" style="font-size: 1.2rem;"></i>
                                {% if task.objects_set.all %}
                                    {% for obj in task.objects_set.all %}

                                        <span class="badge bg-dark-subtle text-black">{{ obj.name }}</span>

                                    {% endfor %}
                                {% else %}
                                    <li class="list-group-item">Нет связанных объектов</li>
                                {% endif %}

                            </div>
                        </div>

                        <!-- Инженеры -->
                        <div class="col d-flex justify-content-end px-3">
                            <div class="col-md-10 d-flex flex-wrap justify-content-end  align-items-center gap-2 mt-2"
                                 data-bs-toggle="tooltip" data-bs-delay='{"show":1000,"hide":150}'
                                 data-bs-title="Исполнители задачи">

                                {% if task.engineers.all %}
                                    {% for engineer in task.engineers.all %}
                                        <div>
                                            <span class="badge bg-secondary">{{ engineer.first_name }} {{ engineer.second_name }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if task.departments.all %}
                                    {% for departments in task.departments.all %}
                                        <div>
                                            <span class="badge bg-secondary">{{ departments }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </button>
        </h2>
        <div id="collapse{{ task.id }}" class="accordion-collapse collapse {% if expanded %}show{% endif %}">
            <div class="accordion-body bg-white">
                <div class="container text-center ">
                    {% if task.files.all %}
                        <div class="d-flex row border-bottom">
                            <div class="col border-end">
                                {% include "components/files/gallery.html" with files=task.files.all id=task.id type="task" %}
                            </div>
                            <div class="col">
                                {% include "components/files/attached_files.html" with files=task.files.all %}
                            </div>
                        </div>
                    {% endif %}

                    {# ТЕКСТ ЗАДАЧИ #}
                    {% if task.text %}
                        <div class="row mx-1 my-2 py-3 d-flex align-items-center border-bottom">
                            <div class="col d-flex align-items-center justify-content-start" style="max-width: 48px">
                                <i class="bi bi-chat-left-dots" style="font-size: 1.2rem;"></i>
                            </div>
                            <div class="col d-flex flex-column align-items-start border-start"
                                 style="font-size: 18px; white-space: pre-line; text-align: justify;">
                                <span class="{% if not expanded %}spoiler-text-{{ task.id }}{% endif %}">{{ task.text }}</span>
                                <button class="btn btn-outline-dark toggle-spoiler mt-2"
                                        style="display: none; white-space: nowrap;">Показать
                                    больше
                                </button>
                            </div>
                        </div>
                    {% endif %}

                    {% if task.completion_text %}
                        <div class="row mx-1 my-2 pt-3 d-flex align-items-center">
                            <div class="col d-flex align-items-center justify-content-start" style="max-width: 48px">
                                <i class="bi bi-activity" style="font-size: 1.2rem;"></i>
                            </div>
                            <div class="col d-flex flex-column align-items-start border-start"
                                 style="font-size: 18px; white-space: pre-line; text-align: justify;">
                                <span class="">{{ task.completion_text }}</span>

                            </div>
                        </div>
                    {% endif %}


                    {% if task.tags.all %}
                        <div class="row my-3 text-muted">
                            <div class="col d-flex flex-wrap justify-content-start  align-items-center gap-2">
                                <i class="bi bi-tags ms-3 me-2" style="font-size: 1.2rem;"></i>
                                {% for tag in task.tags.all %}
                                    <span class="badge bg-primary-subtle text-dark">{{ tag.tag_name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}


                    {% if not task.is_done %}

                        {% if request.user.engineer in task.engineers.all or request.user.engineer.departament in task.departments.all or request.user.is_superuser or request.user.is_staff %}
                            <div class="row text-start">


                                    <div class="col">
                                        {% include "components/task/take_task_button.html" with task_id=task.id %}
                                    </div>


                                <div class="col text-end gap-2">
                                    {% include "components/task/edit_task_button.html" with task_id=task.id %}
                                    {% include "components/task/confirm_task.html" with task_id=task.id action_type="close" %}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if request.user.engineer in task.engineers.all or request.user.is_superuser or request.user.is_staff %}
                            <div class="text-end gap-2">
                                {% include "components/task/edit_task_button.html" with task_id=task.id %}
                                {% include "components/task/confirm_task.html" with task_id=task.id %}
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>


<style>
    /* Убираем синюю рамку на активной кнопке */
    .accordion-button:focus {
        box-shadow: none;
        outline: none;
        background-color: white;
    }

    /* Убираем синюю подсветку, если аккордеон активен */
    .accordion-button:not(.collapsed) {
        box-shadow: none;
        background-color: white;
    }


</style>