<div id="tasks" class=" p-4">

    {#    <div class="pb-2 d-flex justify-content-between px-4">#}
    {#        <h3>Задачи</h3>#}
    {##}
    {#    </div>#}


     {% include "components/task/tasks_container_buttons.html" %}

    <div class="d-flex justify-content-start px-4 mt-3">
        {% include "components/task/create_task.html" %}
    </div>


    {% if tasks %}
        <div class="mt-4" id="myTabContent">
        <!-- Вкладка активных задач -->
        <div class="px-2 ">
            {% for task in tasks %}
                {% include "components/task/task.html" %}
            {% endfor %}
        </div>

    {% else %}
        <div class="d-flex justify-content-left mt-3">Задач для отображения нет.</div>
    {% endif %}
    {% include 'components/home/../pagination.html' %}
    </div>

    {% include 'components/task/edit_task_modal.html' %}

</div>

<script>
    function updateUrl() {
        {#const showActiveTasks = document.getElementById('showActiveTasksSwitch').checked;#}
        {#const showDoneTasks = document.getElementById('showDoneTasksSwitch').checked;#}
        const showMyTasksOnly = document.getElementById('showMyTasksOnlySwitch') ? document.getElementById('showMyTasksOnlySwitch').checked : null;
        const sortOrder = document.getElementById('sortOrderSwitch') ? (document.getElementById('sortOrderSwitch').checked ? 'desc' : 'asc') : null;

        const currentUrl = new URL(window.location.href);
        const params = new URLSearchParams(currentUrl.search);

        // Устанавливаем параметры
        {#params.set('show_active_task', showActiveTasks);#}
        {#params.set('show_done_task', showDoneTasks);#}
        if (showMyTasksOnly !== null) params.set('show_my_tasks_only', showMyTasksOnly);
        if (sortOrder !== null) params.set('sort_order', sortOrder);

        // Обновляем URL
        window.location.search = params.toString();
    }
</script>
<script>
    function toggleFilter(filterName, currentValue, secondFilterName = null, secondFilterValue = null) {
        const urlParams = new URLSearchParams(window.location.search);

        // Логика для кнопки "Активные задачи"
        if (filterName === 'show_active_task') {
            // Всегда включаем активные и выключаем завершенные
            urlParams.set('show_active_task', 'true');
            urlParams.set('show_done_task', 'false');
        }

        // Логика для кнопки "Завершенные задачи"
        if (filterName === 'show_done_task') {
            // Всегда включаем завершенные и выключаем активные
            urlParams.set('show_done_task', 'true');
            urlParams.set('show_active_task', 'false');
        }

        // Логика для средней кнопки: включает обе группы, если хотя бы одна выключена
        if (secondFilterName && (currentValue === false || secondFilterValue === false)) {
            // Если хотя бы одна группа выключена, включаем обе
            urlParams.set('show_active_task', 'true');
            urlParams.set('show_done_task', 'true');
        }

        // Обновляем URL и перезагружаем страницу с новыми параметрами
        window.location.href = "?" + urlParams.toString();
    }
</script>


