{% load static %}
<div id="tasks" class=" p-4">

    {% include "components/task/tasks_container_buttons.html" %}

    <div class="d-flex justify-content-start px-4 mt-3">
        {% include "components/task/create_task.html" %}
    </div>

    {% if tasks %}
        <div class="mt-4" id="myTabContent">
        <!-- Вкладка активных задач -->
        <div class="px-2 ">
            {% for task in tasks %}
                {% include "components/task/task.html" %}
            {% endfor %}
        </div>

    {% else %}
        <div class="d-flex justify-content-left mt-3">Задач для отображения нет.</div>
    {% endif %}
    {% include 'components/pagination.html' %}
    </div>

    {% include 'components/task/edit_task_modal.html' %}

</div>

<script src="{% static 'self/js/filters.js' %}"></script>