<div class="container">
    <div class="d-flex flex-wrap gap-2 justify-content-between">
        <div class="d-flex gap-2 ">
            {% if not hide_filter %}
                {% include "components/filter_button.html" %}
            {% endif %}



            <!-- Кнопки сортировки и "Показать только мои задачи" -->
            {% if not request.user.is_superuser %}
                {% if show_my_tasks_only %}


                    <div class="form-check form-switch p-0">

                        <!-- Кнопка "Показывать только мои задачи" с иконкой -->
                        {% if show_my_tasks_only == "true" %}
                            <button id="showMyTasksOnlyBtn" onclick="toggleShowMyTasksOnly()"
                                    class="btn btn-primary">
                                <i class="bi bi-person-lines-fill"></i>
{#                                Мои задачи {{ my_tasks_count }} из {{ available_tasks_count }}#}
                                Показать все задачи
                            </button>
                        {% else %}
                            <button id="showMyTasksOnlyBtn" onclick="toggleShowMyTasksOnly()"
                                    class="btn btn-outline-primary">
                                <i class="bi bi-person-lines-fill"></i>
                                Показать мои задачи
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

            <!-- Кнопка сортировки -->
            {% if sort_order %}
                <div class="form-check form-switch p-0">
                    <button id="sortOrderBtn" onclick="toggleSortOrder()" class="btn btn-outline-primary">
                        {% if sort_order == 'desc' %}
                            <i class="bi bi-sort-down"></i>
                        {% else %}
                            <i class="bi bi-sort-up-alt"></i>
                        {% endif %}
                    </button>
                </div>
            {% endif %}
            <!-- Кнопка "EXPORT" -->
            <a href="{% url 'export-xls' %}?{{ filter_data }}">
                <button type="submit" class="btn btn-outline-success ms-3" data-bs-toggle="tooltip"
                        data-bs-title="Экспорт задач в Excel">
                    <i class="bi bi-file-earmark-spreadsheet"></i>
                </button>
            </a>

            <!-- Кнопка "Печать" -->
            <a id="print-tasks-link" href="{% url 'print' %}?{{ filter_data }}">
                <button id="print-tasks-button" type="button" class="btn btn-outline-dark" data-bs-toggle="tooltip"
                        data-bs-title="Печать задач">
                    <i class="bi bi-printer"></i>
                </button>
            </a>


            <!-- Кнопка для создания задачи -->
            {% include "components/task/create_task.html" %}


        </div>
        <!-- Кнопка "Сегодня" -->
        {% if tasks_due_today_count %}
            <form method="get" class="d-inline">
                <input type="hidden" name="completion_time_after" value="{{ default_date }}">
                <input type="hidden" name="completion_time_before" value="{{ default_date }}">
                <button type="submit" class="btn btn-outline-dark  px-3">
                    <i class="bi bi-exclamation-circle" style="color: red;"></i>

                    Сегодня: {{ tasks_due_today_count }}

                </button>
            </form>
        {% endif %}


        <!-- Дополнительные кнопки для фильтров -->
        <div class="d-flex flex-row gap-1">

            <div class="btn-group mb-2" role="group">
                <!-- Кнопка Активные задачи -->
                <button class="btn {% if show_active_task == "true" %}btn-primary{% else %}btn-outline-primary{% endif %} fs-6 text"
                        onclick="toggleFilter('show_active_task', {{ show_active_task|lower }});">
                <span class="d-flex align-items-center gap-1">
                   <i class="bi bi-fire"></i>
                    <span>Активные:</span>
                    <span>{{ not_done_count }}</span>
                </span>
                </button>

                <!-- Кнопка вкл/выкл все задачи -->
                <button class="btn border-0 btn-dark fs-6 text"
                        style="background: linear-gradient(90deg, var(--bs-primary), var(--bs-success));"
                        onclick="toggleFilter('show_active_task', {{ show_active_task|lower }}, 'show_done_task', {{ show_done_task|lower }});">
                    <i class="bi bi-link" style="font-size: 1.2rem"></i>
                </button>

                <!-- Кнопка Завершенные задачи -->
                <button class="btn {% if show_done_task == "true" %}btn-success{% else %}btn-outline-success{% endif %} fs-6 text"
                        onclick="toggleFilter('show_done_task', {{ show_done_task|lower }});">
                <span class="d-flex align-items-center gap-1">
                    <i class="bi bi-check2-square"></i>
                    <span>Завершенные:</span>
                    <span>{{ done_count }}</span>
                </span>
                </button>
            </div>


        </div>
    </div>
</div>


{% include "components/filter.html" %}


<script>
    // Функция переключения "Показывать только мои задачи"
    function toggleShowMyTasksOnly() {
        const showMyTasksOnly = '{{ show_my_tasks_only }}' === 'true';
        const newShowMyTasksOnly = !showMyTasksOnly;

        const currentUrl = new URL(window.location.href);
        const params = new URLSearchParams(currentUrl.search);

        params.set('show_my_tasks_only', newShowMyTasksOnly);
        window.location.search = params.toString();
    }

    // Функция переключения порядка сортировки
    function toggleSortOrder() {
        const sortOrder = '{{ sort_order }}' === 'desc' ? 'asc' : 'desc';

        const currentUrl = new URL(window.location.href);
        const params = new URLSearchParams(currentUrl.search);

        params.set('sort_order', sortOrder);
        window.location.search = params.toString();
    }
</script>